<div class="field-row re-ins-com-req">
    <div class="form-tab-row">
        <div class="field-label">Which LOB</div>
        <div class="field align-justify">
            <select class="stylish valid" name="commissionLob" value="" width="100%">
                <option value="-1">Select ...</option>
                <option value="2">Marine</option>
                <option value="3">Property</option>
                <option value="4">General Liability</option>
                <option value="5">Professional Liability</option>
                <option value="6">Package Policy</option>
                <option value="7">Accident and Health</option>
                <option value="8">Other Coverage</option>
            </select>
        </div>
    </div>
    <div class="form-tab-row">
        <div class="field-label">% rate</div>
        <div class="field pencil-icon">
            <input class="stylish" type="text"  placeholder="Enter % rate" name="commissionRate" value="">
        </div>
    </div>
    <div class="form-tab-row">
        <div class="field-label">Applied To</div>
        <div class="field align-justify">
            <select class="stylish" name="commissionAppliedTo" value="">
                <option>Select</option>
                <option value="sum">Premium</option>
                <option value="sum">Premium net of Retention</option>
            </select>
        </div>

    </div>

    <div class="form-tab-row">
        <div class="field-label">Flat Amount</div>
        <div class="field pencil-icon">
            <input class="stylish" type="text"  placeholder="Enter Flat Amount"  name="commissionFlatAmount" value="">
        </div>
    </div>
    <div class="form-tab-row">
        <div class="field-label">Currency</div>
        <div class="field currency-icon">
            <input class="stylish" type="text"  placeholder="Enter Currency" name="commissionCurrency" value="">
        </div>
    </div>
    <input type="hidden" name="commReqId" value="">
</div>