<div class="field-row rate-req">
    <div class="form-tab-row">
        <div class="field-label">Which LOB</div>
        <div class="field align-justify">
            <select class="stylish" name="requirementLob" value="" width="100%">
                <option value="-1">Select ...</option>
                <option value="2">Marine</option>
                <option value="3">Property</option>
                <option value="4">General Liability</option>
                <option value="5">Professional Liability</option>
                <option value="6">Package Policy</option>
                <option value="7">Accident and Health</option>
                <option value="8">Other Coverage</option>
            </select>
        </div>
    </div>
    <div class="form-tab-row">
        <div class="field-label">% rate</div>
        <div class="field pencil-icon">
            <input class="stylish" type="text"  placeholder="Enter % rate" name="requirementRate" value="">
        </div>
    </div>
    <div class="form-tab-row">
        <div class="field-label">min. premium</div>
        <div class="field pencil-icon">
            <input class="stylish" type="text"  placeholder="Enter min. premium" name="reqMinPremium" value="">
        </div>
    </div>

    <div class="form-tab-row">
        <div class="field-label">currency</div>
        <div class="field align-justify">
            <select class="stylish" name="reqCurrency" value="">
                <option>Select</option>
                <option value="sum">Sum Insured</option>
                <option value="sum">Fixed Sum</option>
            </select>
        </div>
    </div>
    <div class="form-tab-row">
        <div class="field-label">Type of requirement</div>
        <div class="field align-justify">
            <select class="stylish" name="reqType" value="">
                <option>Select</option>
                <option value="sum">Country Requirement</option>
                <option value="sum">Company Requirement</option>
            </select>
        </div>
    </div>
    <input type="hidden" name="requirementId" value="">
</div>