html{
    font: 400 1em/1.5 "Open Sans", sans-serif;
    background-color: #EFEFEF;
    /*color: #7e7e7e;*/
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body{
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 14px;
    font-family: 'Open Sans';
    background-color: #FCFCFC;
}

li{
    list-style: none;
}


.layout-header{
    height: 50px;
    box-shadow: 1px 0px 0px 2px rgba(0,0,0, .25);
}

.layout-body{
    min-height: 800px;
    background-color: #F1F4F5;
}

.layout-body-menu{
    min-height: 800px;
}

.layout-body-menu{
   background: linear-gradient(0deg, #C71585, purple);
   display: table-cell;
   padding: 21px;
   height: 400px;
}

.layout-body-content{
    display: table-cell;
    vertical-align: top;
    width: 100%;
    margin-top: 1px;
    padding: 20px;
}

.menu-group-item ul{
  padding:10px 8px;
  cursor:pointer;
}

.menu-group-item li{
   padding:10px 8px;
   cursor:pointer;
}

.menu-group-item-text{
   padding:5px;
}

.menu-ul{
    margin-left: 0px;
    padding-left: 0px;
}

.menu-ul li {
    list-style: none;
}


.sub-menu{
    height: 40px;
    display: none;
}

.sub-menu .sub-menu-ul {
    position: relative;
    margin-top: -34px;
    border-radius: 2px;
    background: linear-gradient(0deg, #C71585, purple);
    left: 139px;
    z-index:2;
}

.sub-menu-item:hover{
    background:rgba(234, 241, 233, 0.84);
    border-radius: 2px;
}

.menu-item:hover{
    /*background:#F1F4F5;*/
    background:rgba(234, 241, 233, 0.84);
    border-radius: 2px;
}

.prd-logo{
    display:inline-block;
    width:6%;
}

.prd-logo img{
    width:100px;
    height:80px
}

.header-logo{
    display:inline-block;
    width:78%;
}

.header-options{
    display:inline-block;
}

.header-options span{
    padding: 5px 12px;
}

.header-logo .header-log-text{
    color: #660378;
    font-weight: 900;
    margin-left: 25px;
    font-size: 20px;
}

.navbar-brand-img {
    float: left;
    height: 50px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 20px;
}

.page-header{
  margin: 20px 0 20px;
}

.page-header-title{
   display:inline-block;
   margin-left:20px;
}

.page-header-options{
   display:inline-block;
   float: right;
}

.page-header-options-wrapper{

}

.page-action-cancel{
    display:inline-block;
    background-color: #FFFFFF;
    padding: 5px 10px;
}

.page-action-save{
    display:inline-block;
    background-color: #FFFFFF;
    padding: 5px 10px;
}

.page-content-section{
    padding: 15px;
}



/**pagination*/

.paging-section{

}

.paging-wrapper{
    margin:20px;
    text-align:center;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    color: grey;
}

.currentPage{
   border-radius:2px;
   border: 1px solid #cecece;
   background-color:#3896BE;
   color:#fff;
   padding: 1px 5px;
   margin: 0 3px;
}

.page{
   border-radius:2px;
   border: 1px solid #cecece;
   background-color:#fff;
   cursor:pointer;
   padding: 1px 5px;
   margin: 0 3px;
}



.filter-wrapper{
    border: 1px solid #CDCDCD;
    top: 155px;
    position: absolute;
    width: 76%;
    margin: 0 20px;
    padding: 5px;
    display:none;
    background: #FFF/*#F1F4F5*/;
    border-radius: 3px;
}

.save-filter,.cancel-filter{
    display: inline-block;
    margin: 10px;
    cursor:pointer;
}

.nav-page-options{
   color:#3896BE;
   cursor:pointer;
   margin: 0 5px;
}

.fieldset-wrapper{
    padding:15px;
}

.fieldset{
    border-radius: 5px;
    border: 1px solid #adadad;
}

.legend{
    background-color: #F1F4F5;
    border-radius: 5px;
    border: 1px solid #adadad;
    padding: 5px 10px;
    margin: 5px 4px;
}

.message-list-header{
    background-color: #fff;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

.message-list .message-item{
    border-bottom: 1px dashed red;
}

.file-actions-wrapper{
    border-top: 1px dashed #e5e5e5;
    margin-top: 10px;
    padding-top: 5px;
    display: block;
    float: left;
    clear: both;
    color: #3896be;
    cursor:pointer;
}

.file-actions-item{

}

.file-comments-option::before {
    background-image: url(../images/sprite/facebook-social.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -36px -105px;
    content: '';
    display: inline-block;
    height: 14px;
    margin: 0 6px -3px 0;
    width: 14px;
}

.file-notes::before {
    background-image: url(../images/notes.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: -36px -105px; */
    content: '';
    display: inline-block;
    height: 14px;
    margin: 0 2px -3px 0;
    width: 14px;
}

.file-notes{
    margin-left: 5px;
}

.file-comments-section,.file-notes-section{
    clear: both;
    width: 65%;
    margin-left: 40px;
    padding-left: 10px;
    background-color: #F6F6F6;
}

.comments-item-img,.notes-item-img{
    float: left;
}

.comment-add,.notes-add{
    margin-left: 10px;
}

.comments-item-section,.note-item-section{
    display: inline-block;
    width: 85%;
    margin-left: 10px;
}

.comments-ul,.notes-ul{
    padding-left: 0px;
    margin-top: 0px;
    max-height: 200px;
    overflow-y: scroll;
}
.comments-add-section,.notes-add-section{
   padding-left: 0px;
   padding-top:10px;
}

.comments-li,.note-li{
    padding: 5px;
    border-bottom: .1px solid #dfdfdf;
}

.comments-add,.notes-add{
    border-radius:2px;
}

.comment-add textarea,.notes-add textarea{
     width:75%;
     border-radius: 2px;
}

.comments-post,.notes-post{
    display: inline-block;
    background: #3498db;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 20px;
    cursor: pointer;
    margin-left: 10px;
    top: -15px;
    position: relative;
}

.comment-by-name,.note-by-name{
    color: #2B85C0;
    margin:5px 0;
}

.comment-by-role,.note-by-role{
    border: 1px solid #E77F10;
    border-radius: 5px 5px 5px 5px;
    color: #5C5C5C;
    font-size: 0.85em;
    height: 1em;
    line-height: 1.8em;
    margin: auto 3px;
    padding: 0.5px 6px;
    text-align: center;
}

.comment-detail-time,.note-detail-time{
    color: #7e7e7e;
    margin:5px 0;
}

.mail-field-to .select2-container{
    width:90% !important;
}

.dropdown-select2{
   width:200px !important;
}

.mail-field-to .select2-container--default .select2-selection--multiple{
    border: 0px;
}

.mail-field{
    margin:5px 0;
    border-bottom: 1px solid #cfcfcf;
    color: #777;
    font-size: 13px;
}

.mail-form-body{
    min-height: 380px;
    width: 99%;
    border: 0!important;
    margin: 0!important;
}

.mail-attachment::before{
    background-image: url(../images/sprite/mail-sprite.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 2px -619px;
    content: '';
    display: inline-block;
    height: 20px;
    margin: 0 7px -3px 0;
    width: 26px;
}

.mail-field-to textarea,.mail-field-subject textarea{
    text-align: left;
    height: 16px!important;
    overflow: hidden;
    padding: 6px 3px;
    resize: none;
    width: 90%;
    color: black;
    background-color: white;
    font-size: 13px;
    border: 0!important;
    margin: 0!important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filter-list{
    color: #9b59b6;
    font-family: "FontAwesome";
    font-size: 22px;
    padding-left: 9px;
    padding-right: 10px;
    display: inline-block;
    cursor:pointer;
}
.search-item{

}

.hidden-form{
    display:none;
}

.split-boxes{
    width:100%;
}

.form-wrapper .field .stylish.split-box-small{
    display:inline-block;
    width:20px;
    margin:0 10px 0 0;
}

.form-wrapper .field .stylish.split-box-medium{
    display:inline-block;
    width:30px;
    margin:0 10px 0 0;
}

.form-wrapper .field .stylish.split-box-big{
    display:inline-block;
    width: 137px;
    margin:0 10px 0 0;
}
.form-wrapper .field .stylish.split-box-big-large{
    display:inline-block;
    width: 197px;
    margin:0 10px 0 0;
}
.form-wrapper .field .stylish.split-box-big-large-x{
    display:inline-block;
    width: 290px;
    margin:0 10px 0 0;
}
.form-wrapper .field .stylish.split-box-big-large-xx{
    display:inline-block;
    width: 220px;
    margin:0 10px 0 0;
}

.search-user-card{
    display: inline-block;
}

.file-details-form .form-row{
    padding: 10px;
}

.pm-contact,.pm-bank{
    padding-top: 0px;
}

.addOptions .btn-wrapper{
    margin-bottom:0px;
    margin-right: 40px;
}

.repeatable-wrapper{
    margin-top: 20px;
}

.repeatable-section-seperator{
    border-top: 1px dotted #adadad;
}

.dotted-border{
    border-top: 1px dotted #9b59b6;
}

.section-seperator-icon{
    position: relative;
    top: -10px;
    text-align: center;
    width: 100%;
}

.repeatable-section{
    float:right;
}

.delete-section{
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    margin-right: 35px;
    color: #c71585;
    font-size: 20px;
}

label.error {
    display: block;
    color: red;
}

#saveCountryDetails textarea{
    width: 63%;
    height: 29px;
}

.fieldset-table .tab-col{
    vertical-align: top;
    display: inline-block;
    width:13%;
}


/*******************************************   font awsome  ****************************************************/

.user-registration-form .field::before,.edit-country-form .field::before,#applicationForm .field::before,.form-wrapper .field::before{
    color: #9b59b6;
    font-family: "FontAwesome";
    font-size: 16px;
    position: absolute;
    padding-left: 10px;
    padding-top: 8px;
}
.ficon::before{
    color: #9b59b6;
    font-family: "FontAwesome";
    font-size: 16px;
    position: absolute;
    padding-top:3px;
}

/* LM User Side Menu */
.faicon::before{
        color: #FFFFFF;
        font-family: "FontAwesome";
        font-size: 28px;
        position: relative;
        padding-left: 0px;
        padding-top: 0px;
}

.home-icon::before{
    font-size:30px;
    content:"\f015";
}
.user-icon::before{
    content:"\f2bd";
}


.form-wrapper .field {
   display: inline-block;
   width: 100%;
}

.form-wrapper .field .stylish {
    width: 70%;
}

.form-wrapper .field .stylish .attach {
    width: 63%;
}

.form-wrapper .field .selectoption {
    width: 70%;
}
.form-wrapper .field .stylish {
    width: 70%;
}
.form-wrapper .field .fieldsize {
    width: 25%;
}
.form-wrapper .field .fieldextent {
    width: 45%;
}

.field input[type=text]:hover,.field textarea:hover, .field select:hover,.field input[type=password]:hover,.field input[type=file]:hover,
.field input[type=text]:focus,.field textarea:focus, .field select:focus,.field input[type=password]:hover,.field input[type=file]:focus{
	border-color: #c71585;
}

.field textarea{
    font-size: 13px;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #d3d7cf;
    width: 80%;
    height: 20px;
    margin: 0px 200px 20px 0px;
    float: left;
}
.number-icon::before{
    content: "\f16e";
}
.user-icon::before {
	content: "\f007";
}
.hand-right-icon::before {
	content: "\f0a4";
}
.email-icon::before {
    content: "\f2b6";
}

.phone-icon::before{
    content: "\f095";
}

.fax-icon::before{
    content: "\f1ac";
}

.mobile-icon::before{
    content: "\f10b";
}

.password-icon::before{
    content: "\f023";
}

.upload-icon::before{
    content: "\f15b";
}

.country-icon::before{
  content: "\f041";
}
.building-icon::before{
    content: "\f1ad";
}
.pencil-icon::before{
  content: "\f040";
}
.globe-icon::before{
  content: "\f0ac";
}

.country-icon-white::before{
    content: "\f041";
    color:white;
    font-size:20px;
}

.other-req-icon::before{
  content: "\f05b";
}

.percent-icon::before{
  content: "\f295";
}

.company-icon::before{
  content: "\f19c";
}
.plus-icon::before{
  content: "\f0fe";
}

.calendar-icon::before{
  content: "\f073";
}
.drop-down::before{
  content: "\f14a";
}
.info-icon::before{
  content: "\f129";
}
.save-icon::before{
  content: "\f0c7";
}
.bookmark-icon::before{
  content: "\f02e";
}
.rate-icon::before{
  content: "\f005";
}
.graph-icon::before{
   content: "\f012";
}
.compress-icon::before{
   content: "\f013";
}
.currency-icon::before{
   content: "\f155";
}

.notice-icon::before{
    content: "\f256";
}

.filter-icon::before{
    content: "\f0b0";
}

.download-icon::before{
   content: "\f019";
}

.minus-circle::before{
    content: "\f056";
}

.align-justify::before{
    content: "\f039";
}


select.stylish{
    width: 220px;
    background: white;
    height: 40px;
    color: black;
    padding-left:22px;

}

select.stylish.selectwidth{
    width:500px;
    background: white;
    height: 40px;
    color: black;
    padding-left:22px;

}

select.selectoption{
    width:450px;
    background: white;
    height: 40px;
    color: black;
    font-size:0.85em;
    margin:0px 200px 0px 5px;
}

html {
	font-family: 'Roboto', sans-serif;
}

.shadow {
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
}

.form-centent {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

input[type=text].stylish, input[type=password].stylish, input[type=email].stylish,
	input[type=file].stylish {
	padding: 10px;
	padding-left: 30px;
	border: 2px solid #d3d7cf;
	/*width: 90%;*/
	font-family: Roboto, FontAwesome;
	border-radius: 2px;
	/*margin-bottom: 20px;*/
}

input[type=date].stylish/*, select.stylish, textarea.stylish*/ {
	padding: 10px;
	border-radius: 3px;
	border: 3px rgba(168, 172, 173, 0.75);
	font-family: Roboto, FontAwesome;
	background-color: white;
	border: 2px solid #d3d7cf;
}

.form-input::before {
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	padding-left: 9px;
	color: #9b59b6;
	padding-top: 27px;
}

.form-input input[type=text]:hover, .form-input input[type=tel]:hover,
	.form-input input[type=password]:hover, .form-input input[type=email]:hover,
	.form-input input[type=url]:hover, .form-input input[type=date]:hover,
	.form-input input[type=number]:hover, .form-input input[type=file]:hover,
	.form-input textarea:hover, .form-input select:hover {
	border-color: #db98e6;
}

.form-input input[type=text]:focus, .form-input input[type=tel]:focus,
	.form-input input[type=password]:focus, .form-input input[type=email]:focus,
	.form-input input[type=url]:focus, .form-input input[type=date]:focus,
	.form-input input[type=number]:focus, .form-input input[type=file]:focus,
	.form-input textarea:focus, .form-input select:focus {
	border-color: #c71585;
}

/*******************************************         end of font awsome                       ****************************************************/




/******************************************************* LM ************************************************************************/

.lm-registration-header{
   padding: 10px;
   border-bottom: 1px solid grey;
   border-radius: 2px;
   background-color: #FBFCFE;
   box-shadow:1px 0px 0px 2px rgba(0,0,0, .25);
}

.ls-registration-step-save{
    float:right;
    margin-right:10px;
    cursor:pointer;
     margin-left:7px;
    font-size: 15px;
    color: #660378;
}

.lm-registration-body{
    padding: 10px 0px;
}

.lm-registration-body-section{
    padding: 10px 0px;
    border-radius: 2px;
    background-color: #FBFCFE;
    background: rgb(220, 220, 220);
    border: 1px solid #FBFCFE;
}

.lm-registration-form{
    padding: 0px 0px 10px 0px;
    border: 2px solid #CDCDCD;
    border-radius: 2px;
    border-top: 0px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.lm-registration-header-text{
    font-weight:bold;
    font-size: 15px;
    color:#660378;
}

.lm-registration-body-section-text{
   display: inline-block;
   margin-left: 10px;
   font-weight: bold;
   font-size: 13px;
}

.lm-registration-body-section-toggle{
    display: inline-block;
    float: right;
    margin-right: 10px;
    cursor:pointer;
}

.lm-registration-body-section-toggle-img{
    background: url(../images/select-icons.png) 0 -116px no-repeat;
    display: block;
    height: 22px;
    width: 30px;
}

.lm-registration-steps{
   margin-left: 50px;
}

.lm-registration-step-selected{
    color: #ffffff;
}

.lm-registration-step.lm-registration-step-selected{
    background-color: #660378;
    color: #ffffff;
}

.lm-registration-step-seperator{

}

.lm-registration-step-seperator-border{

}

.lm-registration-step{
    border-radius:10px;
    padding:0px 5px;
    border:1px solid grey;
    cursor: pointer;
    margin-right: 10px;
}

.lm-registration-form-section-left{
    display: inline-block;
    width:45%;
    vertical-align: top;
    margin-left: 40px;
}

.lm-registration-form-section-right{
    display: inline-block;
    width: 45%;
    padding-left: 5px;
    margin-left: 40px;
}

.selectbox {
 	color: black;
 	background: white;
 	width: 410px !important;
 	padding: 11px 0px 8px 25px;
 }

 .delete-section{
    cursor:pointer;
 }


/******************************************************* LM ************************************************************************/