
.lm-layout{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CDCDCD;
}

.lm-layout-wrapper{

}

.lm-layout-header{
    padding: 10px;
}

.lm-layout-header .menu-header{
    padding: 5px;
    display:inline-block;
}

.lm-layout-header .menu-header .menu-header-border{
    border-radius: 2px;
    border: 1px solid #750074;
    width: 20px;
    margin: 4px;
}

.lm-menu-item{
    color: #ffffff;
    cursor:pointer;
    font-size:24px;
}

/***menu ***/

.menu-ul{
    margin-left: 0px;
    padding-left: 0px;
}

.menu-ul li {
    list-style: none;
    margin: 50px 0px;
}



.menu-item-text{
   vertical-align:top;
}

.lm-layout-header .header-logo{
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.lm-layout-header .header-logo .header-log-text{
    color: #750074;
    font-weight: 900;
}

.lm-layout-header .header-options{
    float:right;
    display:inline-block;
    margin-right:2px;
}

.lm-layout-header .header-options .header-options-bullet{
    border-radius: 4px;
    padding: 2px;
    border: 1px solid grey;
    margin: 2px;
    background-color: #000000;
}


/*.lm-registration-header{
   padding: 10px;
   border-bottom: 1px solid grey;
   border-radius: 2px;
   background-color: #FBFCFE;
   box-shadow:1px 0px 0px 2px rgba(0,0,0, .25);
}

.ls-registration-step-save{
    float:right;
    margin-right:5px;
    cursor:pointer;
    font-size: 26px;
    color: #660378;
}

.lm-registration-body{
    padding: 10px 0px;
}

.lm-registration-body-section{
    padding: 10px 0px;
    border-radius: 2px;
    background-color: #FBFCFE;
    background: rgb(220, 220, 220);
    border: 1px solid #FBFCFE;
}

.lm-registration-form{
    padding: 0px 0px 10px 0px;
    border: 2px solid #CDCDCD;
    border-radius: 2px;
    border-top: 0px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.lm-registration-header-text{
    font-weight:bold;
    font-size: 15px;
    color:#660378;
}

.lm-registration-body-section-text{
   display: inline-block;
   margin-left: 10px;
   font-weight: bold;
   font-size: 13px;
}

.lm-registration-body-section-toggle{
    display: inline-block;
    float: right;
    margin-right: 10px;
    cursor:pointer;
}

.lm-registration-body-section-toggle-img{
    background: url(../images/select-icons.png) 0 -116px no-repeat;
    display: block;
    height: 22px;
    width: 30px;
}

.lm-registration-steps{
   margin-left: 50px;
}

.lm-registration-step-selected{
    color: #ffffff;
}

.lm-registration-step.lm-registration-step-selected{
    background-color: #660378;
    color: #ffffff;
}

.lm-registration-step-seperator{

}

.lm-registration-step-seperator-border{

}

.lm-registration-step{
    border-radius:10px;
    padding:0px 5px;
    border:1px solid grey;
    cursor: pointer;
    margin-right: 10px;
}

.lm-registration-form-section-left{
    display: inline-block;
    width:45%;
    vertical-align: top;
    margin-left: 40px;
}

.lm-registration-form-section-right{
    display: inline-block;
    width: 45%;
    padding-left: 5px;
    margin-left: 40px;
}*/

.field-row{
    padding: 10px 10px 10px 0px;
}

   .sameline{
   padding: 0px 0px 2px 2px;
   font-size:13px;
}

.field-column{
    display:inline-block;
    padding: 8px;

}

.lm-registration-body input[type="text"],textarea{
   /* font-size: 14px;
    margin-right: 13px;
    padding:0px 0px 0px 30px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #d3d7cf;
    width:100%;
    height: 40px;*/
}




/* ---------------------------New Code-------------------------- */

.lm-registration-body input[type=text]:hover,
.lm-registration-body input[type=tel]:hover,
.lm-registration-body input[type=password]:hover,
.lm-registration-body input[type=email]:hover,
.lm-registration-body input[type=url]:hover,
.lm-registration-body input[type=date]:hover,
.lm-registration-body input[type=number]:hover,
.lm-registration-body input[type=file]:hover,
.lm-registration-body textarea:hover,
.lm-registration-body select:hover {
  border-color: #db98e6;
}
.lm-registration-body input[type=text]:focus,
.lm-registration-body input[type=tel]:focus,
.lm-registration-body input[type=password]:focus,
.lm-registration-body input[type=email]:focus,
.lm-registration-body input[type=url]:focus,
.lm-registration-body input[type=date]:focus,
.lm-registration-body input[type=number]:focus,
.lm-registration-body input[type=file]:focus,
.lm-registration-body textarea:focus,
.lm-registration-body select:focus{
  border-color: #d209f5;
}

/* ---------------------End Of The New Code----------------------*/
/* ---------------------------Additional Code-------------------- */


.lm-registration-body .button {
  background-color: #9B59B6;
  }
+++
.lm-registration-body .icon-place:before {
  position: absolute;
  font: 1em 'icons';
  vertical-align: top;
  top: 15px;
  left: 0.9em;
  pointer-events: none;
  color: #A2A6A8;
  z-index: 2;
}

.lm-registration-body .element-input .item-cont .icon-place:before,
.lm-registration-body .element-textarea .item-cont .icon-place:before {
  content: '\e800';
}
.lm-registration-body .element-select .item-cont .icon-place:before,
.lm-registration-body .element-multiple .item-cont .icon-place:before,
.lm-registration-body .element-address .country .icon-place:before {
  top: 12px;
  content: '\e801';
}
.lm-registration-body .element-date .item-cont .icon-place:before {
  content: '\e802';
}
.lm-registration-body .element-number .item-cont .icon-place:before,
.lm-registration-body .element-address .zip .icon-place:before {
  content: '\e803';
}
.lm-registration-body .element-file .item-cont .icon-place:before {
  content: '\e804';
}
.lm-registration-body .element-email .item-cont .icon-place:before {
  content: '\e805';
}
.lm-registration-body .element-url .item-cont .icon-place:before {
  content: '\e806';
}
.lm-registration-body .element-password .item-cont .icon-place:before {
  content: '\e807';
}
.lm-registration-body .element-phone .item-cont .icon-place:before {
  content: '\e808';
}
.lm-registration-body .element-name .nameFirst .icon-place:before,
.lm-registration-body .element-name .nameLast .icon-place:before {
  content: '\e80B';
}
.lm-registration-body .element-address .addr1 .icon-place:before,
.lm-registration-body .element-address .addr2 .icon-place:before {
  top: 0;
  content: '\e809';
}
.lm-registration-body .element-address .city .icon-place:before,
.lm-registration-body .element-address .state .icon-place:before {
  content: '\e80A';
}
.lm-registration-body input:focus ~ .icon-place:before,
.lm-registration-body textarea:focus ~ .icon-place:before,
.lm-registration-body select:focus ~ .icon-place:before,
.lm-registration-body .select.open ~ .icon-place:before,
.lm-registration-body input[type=file]:focus ~ .icon-place:before,
.lm-registration-body .button:focus ~ .icon-place:before,
.lm-registration-body .file_text:focus ~ .icon-place:before {
  color: #9B59B6;
}

/* ----------------Additional Code End -------------------- */

.lm-registration-step-section{
    display:none;
}

.loading-icon-wrapper{
    display: none;
    left: 600px;
    top: 275px;
    position: absolute;
    right: 0;
    width: 15%;
    margin-top: 20px;
}

.loading-icon{
    background-color: #fff;
    background-image: -webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
    background-position: 0 0,10px 10px;
    -webkit-background-size: 21px 21px;
    background-size: 21px 21px;
    border: 0;
    -webkit-box-shadow: 0 5px 35px rgba(0,0,0,.65);
    box-shadow: 0 5px 35px rgba(0,0,0,.65);
}

.lm-registration-fieldset{
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    margin: 15px 0;
}

.lm-registration-fieldset legend{
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    padding: 4px;
    margin: 0px 7px;
    background-color: purple;
    font-size: 14px;
    width: 72%;
    color: white;
    font-weight: bold;
}
.lm-authlobexacttaxes-checkbox{
    padding: 0px;
    margin: 0px;
    vertical-align:top;
 }
.lm-authlobexacttaxes-checkbox .sameline{
    padding: 9px;
 }

.lm-authlobexacttaxes-checkbox input[type="checkbox"]{
    margin-right: 5px;
 }

 .lm-authlobexacttaxes-textbox{
    padding: 0px;
    margin: 0px;
 }

 .lm-authlobexacttaxes-textbox input[type="text"] {
    width:100px;
 }

.lm-finance-report{
   width: 550px;
   margin-top: 40px;
}

.lm-background-shadow{
    box-shadow: 0 5px 35px rgba(0,0,0,.65);
}

.save-icon{
 font-size:26px;
}

label.error {
    color: red;
}

.save-icon-text{
    font-size:15px;
    font-weight: bold;
    padding:12px;
    vertical-align: top;
}
.lm-organization-splitcolumn{
	width:49%;
 }
 
 .lm-financeinfo-split3column{
	width:32%;
 }
 
 .lm-finalcialinfo-toppadding{
	padding-top:22px;
 }



 /**lm**/

 .form-container{
     padding: 10px 0 0 0;
     clear: both;
 }

 .hidden-form{
    display:none;
 }

 .align-top{
     vertical-align:top;
 }


 /* enable absolute positioning */
 .inner-addon {
   position: relative;
 }

 /* style glyph */
 .inner-addon .glyphicon {
   position: absolute;
   padding: 12px 0px 0px 10px;
 }

 /* align glyph */
 .left-addon .glyphicon  { left:  0px;}
 .right-addon .glyphicon { right: 0px;}

 /* add padding  */
 .left-addon input  { padding-left:  30px; }
 .right-addon input { padding-right: 30px; }

 div.groove2 {
 	border-style: groove;
 	width: 500px
 }

 .selectbox {
 	color: black;
 	background: white;
 	width: 500px;
 	padding: 11px 0px 8px 25px;
 }

 .chooseStyle {
 	width: 125%;
 }

 .yearSelector {
 	background: white;
 	color: purple;
 	font-weight: bolder;
 }

 html{
 	font-family: 'Roboto', sans-serif;
 	font-size: 10pt;
 	/*padding: 20px;*/
 }
 .wrapper{
 	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
 	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
 	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
 	width: 400px;
 }
 table.tbl1{
 	width: 100%;
 }
 table.tbl1 th, table.tbl1 td{
 	padding: 10px 0px;
 	width1: 50%;
 }

 table.tbl1 td:nth-child(1){
 	padding-left: 45px;
 	padding-right: 10px;
 }

 table.tbl1 td:nth-child(2){
 	padding-right: 30px;
 	padding-left: 30px;
 }
 .label{
 	padding: 5px 0px;
 	font-weight: 500;
 }
 h2{
 	font-weight: 500;
 }
 h3{
 	font-weight: 400;
 }
 .center{
 	margin-left: auto;
 	margin-right: auto;
 }
 .text-center{
 	text-align: center;
 }
 input[type=text],input[type=password],input[type=email],input[type=file] {
 	padding: 10px;
 	border-radius: 3px;
 	border: 1px solid #c5c4c4;
 	width: 80%;
 	background-color1: #F1F8E9;
 }
 input[type=date],select,textarea {
 	padding: 10px;
 	border-radius: 3px;
 	border: 1px solid #9C27B0;
 	border: 1px solid #ccc;
 }
 input[type=submit] {
 	padding: 10px 25px;
 	border-radius: 3px;
 	background-color: #9C27B0;
 	border: 1px solid #c1bbbb;
 	text-transform: uppercase;
 }
 .multiple-form-wrapper{
 	position: relative;
 }
 .multiple-form-wrapper .form{
 	position: absolute;
 	margin: 0 auto;
 	left: 0;
 	right: 0;
 	top: 26px;
 }
 .tab{
 	display: inline;
 	padding: 10px 15px;
 	background-color: #E0F2F1;
 	border: 1px solid #E3F2FD;
 }
 table.process{
 	width: 100%;
 }
 table.process td{
 	width: 33%;
 	vertical-align: middle;
 }
 .process-wrapper{
 	padding: 5px 0px;
 	background-color: rgba(240, 240, 240, 0.7);
 }
 .process-button{
 	display: inline-block;
 	border: 1px solid #c1bfbf;
 	border-radius: 50%;
 	height: 25px;
 	width: 25px;
     padding: 6px 3px 0 3px;
 }
 .process .active{
 	color: #ffffff;
 	background-color: #c1bfbf;
 }
 .process .inactive{
 	background-color: #ffffff;
 }
 .process-text{
 	font-weight: 300px;
 	font-size: 12pt;
 }
 .form-header{
 	background-color: #830181;
 	color: #ffffff;
 	padding: 5px 0px;
 }

 .input-container{
 	position: relative;
 }
 .input-container .place-holder{
 	position: absolute;
 	top: 10px;
 	left: 10px;
 	color: #777777;
 }
 .input-container input{
 	padding-left: 50px;
 }

 body {
   margin: 10px;
 }

.table_tax{
margin-left:2em;
width:100%;
}

 /**end of lm**/