<!--dashboard -->
<div class="dashboard-tile-container" id="dashboardTilesContainer">

    <div class="dashboard-tile-list">
        <div class="dashboard-tile vertical-full">
            <div class="dashboard-tile-header">
                <span class="dashboard-tile-icon"><img src="../webresources/images/glyphicons/glyphicons-11-envelope.png"></span>
                <span class="dashboard-tile-text tile-message">Messages</span>
                        <span class="dashboard-tile-options">
                            <span class="dashboard-tile-options-text"> unread</span>
                            <span class="dashboard-tile-customize"></span>
                            <span class="dashboard-tile-jumpout"></span>
                        </span>
            </div>
            <div class="dashboard-tile-content">
                <div class="message-container" id="messageContainer">

                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-tile-list">
        <div class="dashboard-tile">
            <div class="dashboard-tile-header">
                <span class="dashboard-tile-icon"><img src="../webresources/images/glyphicons/glyphicons-82-refresh.png"></span>
                <span class="dashboard-tile-text tile-renewals">Renewals</span>
                        <span class="dashboard-tile-options">
                            <span class="dashboard-tile-options-text"> unread</span>
                            <span class="dashboard-tile-customize"></span>
                            <span class="dashboard-tile-jumpout"></span>
                        </span>
            </div>
            <div class="dashboard-tile-content">
                <div class="renewals-container" id="renewalsContainer">

                </div>
            </div>
        </div>


        <div class="dashboard-tile">
            <div class="dashboard-tile-header">
                <span class="dashboard-tile-icon"><img src="../webresources/images/glyphicons/glyphicons-54-alarm.png"></span>
                <span class="dashboard-tile-text tile-reminder">Reminders</span>
                        <span class="dashboard-tile-options">
                            <span class="dashboard-tile-options-text"> unread</span>
                            <span class="dashboard-tile-customize"></span>
                            <span class="dashboard-tile-jumpout"></span>
                        </span>
            </div>
            <div class="dashboard-tile-content">
                <div class="reminders-container" id="remindersContainer">

                </div>
            </div>
        </div>
    </div>


    <div class="dashboard-tile-list">
        <div class="dashboard-tile">
            <div class="dashboard-tile-header">
                <span class="dashboard-tile-icon"><img src="../webresources/images/glyphicons/glyphicons-11-envelope.png"></span>
                <span class="dashboard-tile-text">Application Submissions</span>
                          <span class="dashboard-tile-options">
                            <span class="dashboard-tile-options-text"> unread</span>
                            <span class="dashboard-tile-customize"></span>
                            <span class="dashboard-tile-jumpout"></span>
                          </span>
            </div>
            <div class="dashboard-tile-content">
                <div class="appsubmission-container" id="appSubmissionContainer">

                </div>
            </div>
        </div>


        <div class="dashboard-tile">
            <div class="dashboard-tile-header">
                <span class="dashboard-tile-icon"><img src="../webresources/images/glyphicons/glyphicons-11-envelope.png"></span>
                <span class="dashboard-tile-text">Lookup</span>
                          <span class="dashboard-tile-options">
                            <span class="dashboard-tile-options-text"> unread</span>
                            <span class="dashboard-tile-customize"></span>
                            <span class="dashboard-tile-jumpout"></span>
                          </span>
            </div>
            <div class="dashboard-tile-content">
                <div class="lookup-container" id="lookupContainer">

                </div>
            </div>
        </div>
    </div>
</div>
<!--dashboard -->