<div class="globex-layout">

    <div class="layout-header">
        <span class="prd-logo">
            <img src="../webresources/images/logo.jpg" alt="Globex World"/>
        </span>
        <span class="header-logo">
            <div class="header-log-text">Globex World</div>
        </span>
        <span class="header-options">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        </span>
    </div>

    <div class="layout-body">
        <div class="layout-body-menu">
            <ul class="menu-ul">
                <li><!--<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>-->
                    <span ><img src="../webresources/images/menu/organizational-citizenship-behaviour.jpg"></span>
                </li>
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
                <li><span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span></li>
                <li><span class="glyphicon glyphicon-education" aria-hidden="true"></span></li>
                <li><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></li>
                <li><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></li>
                <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
            </ul>
        </div>

        <div id="layout-body-content" class="layout-body-content">

            <!--<div class="page-header">
                <div class="page-header-title">
                    <div>Globex World/Partner Market/</div>
                    <div>New Partner Market/</div>
                </div>

                <div class="page-header-options">
                   <div class="page-header-options-wrapper">
                     <div class="page-action-cancel"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</div>
                     <div class="page-action-save"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</div>
                   </div>
                </div>
            </div>-->
        </div>
    </div>
</div>