<div id="networkmangement" class="section">
    <fieldset class="section-wrapper">
        <legend class="section-header">Network Management  </legend>
<br>
<div id="networkmangement_container" class="section-content">
	<div class="field-row">
		<div  class="sameline" id="networkpartnerqualabel">Network Partner Qualifier : </div>
		<div  class="sameline" id="networkpartnerquadiv" >
		<select id="networkpartnerqua">
			<option value="PreferredPriority">Preferred Priority</option>
			<option value="PreferredSecondary">Preferred Secondary</option>
			<option value="VettingOngoing">Vetting Ongoing</option>
			<option value="NotPreferred">Not Preferred</option>
			<option value="Neutral">Neutral</option>
		</select>
		</div>
	</div>
	
	<div  class="field-row">
		<div  class="sameline" id="networkpartnerqualoblabel">Network Partner Qualifier LOB : </div>
		<div  class="sameline" id="networkpartnerqualobdiv" >
		<select id="networkpartnerqualob">
			<option value="Marine">Marine</option>
			<option value="Property">Property</option>
			<option value="GeneralLiability">General Liability</option>
			<option value="ProfessionalLiability">Professional Liability</option>
			<option value="PackageAndPolicy">Package And Policy</option>
			<option value="AccidentAndHealth">Accident And Health</option>
			<option value="OtherCoverages">Other Coverages</option>
		</select>
		</div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="generalcommentslabel">General Comments/Notes on NP : </div>
			<div  class="sameline" id="generalcommentsdiv"><input id="generalcomments" type="text" value=""  name="generalcomments" size="50"></div>
	</div>
		
		
	<div class="field-row">
		<div  class="sameline" id="networkpartnerscorelabel">Network Partner Score : </div>
		<div  class="sameline" id="networkpartnerscorediv" >
		<select id="networkpartnerscore">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
		</div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="averageresponsetimelabel">Average Response Time of NP : </div>
			<div  class="sameline" id="averageresponsetimediv"><input id="averageresponsetime" type="text" value=""  name="averageresponsetime" size="50"></div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="primarycontactcommentslabel">Primary contact person COMMENTS or NOTES : </div>
			<div  class="sameline" id="primarycontactcommentsdiv"><input id="primarycontactcomments" type="text" value=""  name="primarycontactcomments" size="50"></div>
	</div>
	
	<div class="field-row">
		<div  class="sameline" id="vettingstatuslabel">Vetting Status : </div>
		<div  class="sameline" id="vettingstatusdiv" >
		<select id="vettingstatus">
			<option value="Ongoing">Ongoing</option>
			<option value="Passed">Passed</option>
			<option value="Failed">Failed</option>
		</select>
		</div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="vettingstatuscommentslabel">Vetting Status Comments : </div>
			<div  class="sameline" id="vettingstatuscommentsdiv"><input id="vettingstatuscomments" type="text" value=""  name="vettingstatuscomments" size="50"></div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="vettingdatelabel">Vetting Date: (The date company's vetting status changed : </div>
			<div  class="sameline" id="vettingdatediv"><input id="vettingdate" type="text" value=""  name="vettingdate" size="50"></div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="vettingreminderlabel">Next Vetting Reminder Date  : </div>
			<div  class="sameline" id="vettingreminderdiv"><input id="vettingreminder" type="text" value=""  name="vettingreminder" size="50"></div>
	</div>
	
	<div class="field-row">
			<div  class="sameline" id="vettingremindercommentslabel">Next vetting reminder comments : </div>
			<div  class="sameline" id="vettingremindercommentsdiv"><input id="vettingremindercomments" type="text" value=""  name="vettingremindercomments" size="50"></div>
	</div>
	
	
	</div>
    </fieldset>
</div>

