<div id="networkpartner" class="section">
<fieldset class="section-wrapper">
		<legend class="section-header">BASIC NETWORK PARTNER AND FINANCIALS INFO  </legend>
<div id="networkpartner_container"class="section-content">
	<div class="field-row" >
		<div  class="sameline" id="companytypelabel">Is Your Company Public or Private : </div>
		<div  class="sameline" id="companytypediv">
		<select id="companytype">
			<option value="public">Public</option>
			<option value="private">Private</option>
		</select>
	</div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="parentcompanylabel">Name of Your Parent Company, if any : </div>
		<div  class="sameline" id="parentcompanydiv"><input id="parentcompany" type="text" value="" placeholder="Enter Parent Company Name" name="parentcompany" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="licensenolabel">License Number : </div>
		<div  class="sameline" id="licensenodiv"><input id="licenseno" type="text" value="" placeholder="Enter License Number" name="licenseno" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="licenseauthoritylabel">Name of Licensing Authority : </div>
		<div  class="sameline" id="licenseauthoritydiv"><input id="licenseauthority" type="text" value="" placeholder="Enter Licensing Authority Name" name="licenseauthority" size="50"></div>
	</div>
	
	<div class="field-row" >
		<div  class="sameline" id="licenseauthwebsitelabel">Licensing Authority's website : </div>
		<div  class="sameline" id="licenseauthwebsitediv"><input id="licenseauthwebsite" type="text" value="" placeholder="Enter Website" name="licenseauthwebsite" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="comestablishmentyearlabel">The Year your Company was established : </div>
		<div  class="sameline" id="comestablishmentyeardiv"><input id="comestablishmentyear" type="text" value="" placeholder="Enter Establishment Year" name="comestablishmentyear" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="ambestratinglabel">Does your company have an AM Best rating? If so, please provide the rating : </div>
		<div  class="sameline" id="ambestratingdiv" >
		<select id="ambestrating">
			<option value="aplussuperior">A+ Superior</option>
			<option value="aexcellent">A Excellent</option>
			<option value="aminusexcellent">A- Excellent</option>
			<option value="bplusgood">B+ Good</option>
			<option value="bplusplusgood">B++ Good</option>
			<option value="bfair">B Fair</option>
			<option value="bminusfair">B- Fair</option>
			<option value="cplusmarginal">C+ Marginal</option>
			<option value="cplusplusmarginal">C++ Marginal</option>
			<option value="cweak">C Weak</option>
			<option value="cminusweak">C- Weak</option>
			<option value="dpoor">D Poor</option>
			<option value="ersupervision">E Regulatory Supervision</option>
			<option value="fliquidation">F Liquidation</option>
			<option value="ssuspended">S Suspended</option>
			<option value="notrated">NR Not Rated</option>
		</select>
		</div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="ambestlooklabel">AM Best Outlook : </div>
		<div  class="sameline" id="ambestlookdiv" >
		<select id="ambestlook">
			<option value="positive">Positive</option>
			<option value="stable">Stable</option>
			<option value="negative">Negative</option>
		</select>
		</div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="ambestratingdatelabel">AM Best rating/outlook date : </div>
		<div  class="sameline" id="ambestratingdatediv"><input id="ambestratingdate" type="text" value="" placeholder="Enter Best Rating/Outlook Date" name="ambestratingdate" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="amratingattachmentlabel">AM Best rating attachment : </div>
		<div  class="sameline" id="amratingattachmentdiv"><input id="amratingattachment" type="file" name="amratingattachment" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="sandpratinglabel">Does your company have a S&P rating? If so, please provide the rating : </div>
		<div  class="sameline" id="sandpratingdiv" >
		<select id="sandprating">
			<option value="aaa">Extremely Strong</option>
			<option value="aa">Very Strong</option>
			<option value="a">Strong</option>
			<option value="bbb">Good</option>
			<option value="bb">Marginal</option>
			<option value="b">Weak</option>
			<option value="ccc">Very Weak</option>
			<option value="cc">Extremely Weak</option>
			<option value="r">Under Regulatory Supervision</option>
			<option value="sd">Selective Default</option>
			<option value="d">Default</option>
			<option value="nr">Not Rated</option>
		</select>
		</div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="sandpoutlooklabel">S&P Outlook : </div>
		<div  class="sameline" id="sandpoutlookdiv" >
		<select id="sandpoutlook">
			<option value="positive">Positive</option>
			<option value="stable">Stable</option>
			<option value="negative">Negative</option>
			<option value="developing">Developing</option>
			<option value="notmeaningful">Not Meaningful</option>
		</select>
		</div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="sandpratingoutlookdatelabel">S&P Rating/Outlook Date : </div>
		<div  class="sameline" id="sandpratingoutlookdatediv"><input id="sandpratingoutlookdate" type="text" value="" placeholder="Enter S&P Rating/Outlook Date" name="sandpratingoutlookdate" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="sandpattachmentlabel">S&P attachment : </div>
		<div  class="sameline" id="sandpattachmentdiv"><input id="sandpattachment" type="file" name="sandpattachment" size="50"></div>
	</div>
	
	<div class="field-row" >
		<div  class="sameline" id="misccompnamelabel">Miscallenous rating company's name : </div>
		<div  class="sameline" id="misccompnamediv"><input id="misccompname" type="text" value="" placeholder="Enter Company Name" name="misccompname" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="misccompcountrylabel">Miscallenous rating company's country : </div>
		<div  class="sameline" id="misccompcountrydiv"><input id="misccompcountry" type="text" value="" placeholder="Enter Company Country" name="misccompcountry" size="50"></div>
	</div>
	
	<div class="field-row" >
		<div  class="sameline" id="misccompwebsitelabel">Miscallenous rating company's website : </div>
		<div  class="sameline" id="misccompwebsitediv"><input id="misccompwebsite" type="text" value="" placeholder="Enter Company Website" name="misccompwebsite" size="50"></div>
	</div>
	
	<div class="field-row" >
		<div  class="sameline" id="misccompratinglabel">Miscallenous rating company's rating :(FF)</div>
		<div  class="sameline" id="misccompratingdiv"><input id="misccomprating" type="text" value="" placeholder="Enter Company Rating" name="misccomprating" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="misccompoutlooklabel">Miscallenous rating company's outlook: (FF)</div>
		<div  class="sameline" id="misccompoutlookdiv"><input id="misccompoutlook" type="text" value="" placeholder="Enter Company Outlook" name="misccompoutlook" size="50"></div>
	</div>
	
	<div class="field-row" >
		<div  class="sameline" id="ratedbyotheragencylabel">Is your company rated by any other rating agency? If so, please provide the information : </div>
		<div  class="sameline" id="ratedbyotheragencydiv"><input id="ratedbyotheragency" type="text" value="" placeholder="Enter Other Rating Agency" name="ratedbyotheragency" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline" id="misccompattachmentlabel">Miscallenous rating company attachment : </div>
		<div  class="sameline" id="misccompattachmentdiv"><input id="misccompattachment" type="file" name="misccompattachment" size="50"></div>
	</div>
    </div>
	</fieldset>
		<!--<h3>Gross Written Premium :</h3>-->
		<fieldset class="section-wrapper">
		<legend class="section-header">Gross Written Premium  </legend>
		<div class="field-row" >
			<div  class="sameline" id="grosspremiumyear1label">Year : </div>
			<div  class="sameline" id="grosspremiumyear1div">
				<select id="grosspremiumyear1">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="grosspremiumpremium1label">Premium : </div>
			<div  class="sameline" id="grosspremiumpremium1div"><input id="grosspremiumpremium1" type="text" value="" placeholder="Enter Premium" name="grosspremiumpremium1" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="grosspremiumcurrency1label">Premium Currency : </div>
			<div  class="sameline" id="grosspremiumcurrency1div"><input id="grosspremiumcurrency1" type="text" value="" placeholder="Enter Currency" name="grosspremiumcurrency1" size="15"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="grosspremiumyear2label">Year : </div>
			<div  class="sameline" id="grosspremiumyear2div">
				<select id="grosspremiumyear2">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="grosspremiumpremium2label">Premium : </div>
			<div  class="sameline" id="grosspremiumpremium2div"><input id="grosspremiumpremium2" type="text" value="" placeholder="Enter Premium" name="grosspremiumpremium2" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="grosspremiumcurrency2label">Premium Currency : </div>
			<div  class="sameline" id="grosspremiumcurrency2div"><input id="grosspremiumcurrency2" type="text" value="" placeholder="Enter Currency" name="grosspremiumcurrency2" size="15"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="grosspremiumyear3label">Year : </div>
			<div  class="sameline" id="grosspremiumyear3div">
				<select id="grosspremiumyear3">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="grosspremiumpremium3label">Premium : </div>
			<div  class="sameline" id="grosspremiumpremium3div"><input id="grosspremiumpremium3" type="text" value="" placeholder="Enter Premium" name="grosspremiumpremium3" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="grosspremiumcurrency3label">Premium Currency : </div>
			<div  class="sameline" id="grosspremiumcurrency3div"><input id="grosspremiumcurrency3" type="text" value="" placeholder="Enter Currency" name="grosspremiumcurrency3" size="15"></div>
		</div>
	</fieldset>
	
	
		
		<fieldset class="section-wrapper">
		<legend class="section-header">Please state your current combined ratio </legend>
		<div class="field-row" >
			<div  class="sameline" id="currentcombratioyear1label">Year : </div>
			<div  class="sameline" id="currentcombratioyear1div">
				<select id="currentcombratioyear1">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="currentcombratio1label">Combined Ratio : </div>
			<div  class="sameline" id="currentcombratio1div"><input id="currentcombratio1" type="text" value="" placeholder="Enter Combined Ratio" name="currentcombratio1" size="25"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="currentcombratioyear2label">Year : </div>
			<div  class="sameline" id="currentcombratioyear2div">
				<select id="currentcombratioyear2">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="currentcombratio2label">Combined Ratio : </div>
			<div  class="sameline" id="currentcombratio2div"><input id="currentcombratio2" type="text" value="" placeholder="Enter Combined Ratio" name="currentcombratio2" size="25"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="currentcombratioyear3label">Year : </div>
			<div  class="sameline" id="currentcombratioyear3div">
				<select id="currentcombratioyear3">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="currentcombratio3label">Combined Ratio : </div>
			<div  class="sameline" id="currentcombratio3div"><input id="currentcombratio3" type="text" value="" placeholder="Enter Combined Ratio" name="currentcombratio3" size="25"></div>
		</div>
	</fieldset>
	
	
	
	<fieldset class="section-wrapper">
		<legend class="section-header">Please state your current Total Assets </legend>
		<div class="field-row" >
			<div  class="sameline" id="totalassetsyear1label">Year : </div>
			<div  class="sameline" id="totalassetsyear1div">
				<select id="totalassetsyear1">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="totalassets1label">Total Assets : </div>
			<div  class="sameline" id="totalassets1"><input id="totalassets1" type="text" value="" placeholder="Enter Assets" name="totalassets1" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="totalassetscurrency1label">Total Assets Currency : </div>
			<div  class="sameline" id="totalassetscurrency1div"><input id="totalassetscurrency1" type="text" value="" placeholder="Enter Currency" name="totalassetscurrency1" size="15"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="totalassetsyear2label">Year : </div>
			<div  class="sameline" id="totalassetsyear2div">
				<select id="totalassetsyear2">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="totalassets2label">Total Assets : </div>
			<div  class="sameline" id="totalassets2div"><input id="grosspremiumpremium2" type="text" value="" placeholder="Enter Assets" name="totalassets2" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="totalassetscurrency2label">Total Assets Currency : </div>
			<div  class="sameline" id="totalassetscurrency2div"><input id="totalassetscurrency2" type="text" value="" placeholder="Enter Currency" name="totalassetscurrency2" size="15"></div>
		</div>
		<div class="field-row">
			<div  class="sameline" id="totalassetsyear3label">Year : </div>
			<div  class="sameline" id="totalassetsyear3div">
				<select id="totalassetsyear3">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="totalassets3label">Total Assets : </div>
			<div  class="sameline" id="totalassets3div"><input id="totalassets3" type="text" value="" placeholder="Enter Assets" name="totalassets3" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="totalassetscurrency3label">Total Assets Currency : </div>
			<div  class="sameline" id="totalassetscurrency3div"><input id="totalassetscurrency3" type="text" value="" placeholder="Enter Currency" name="totalassetscurrency3" size="15"></div>
		</div>
		</fieldset>
		
		
		
		<fieldset class="section-wrapper">
		<legend class="section-header">Please provide your Financial Reports for the past three years </legend>
		<div class="field-row" >
			<div  class="sameline" id="financialreportyear1label">Year : </div>
			<div  class="sameline" id="financialreportyear1div">
				<select id="financialreportyear1">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="financialreportattachment1label">Attachment : </div>
			<div  class="sameline" id="financialreportattachment1div"><input id="financialreportattachment1" type="file" name="financialreportattachment1" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="financialreportcomments1label">Comments : </div>
			<div  class="sameline" id="financialreportcomments1div"><input id="financialreportcomments1" type="text" value="" placeholder="Enter Currency" name="financialreportcomments1" size="15"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="financialreportyear2label">Year : </div>
			<div  class="sameline" id="financialreportyear2div">
				<select id="financialreportyear2">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="financialreportattachment2label">Attachment : </div>
			<div  class="sameline" id="financialreportattachment2div"><input id="financialreportattachment2" type="file" name="financialreportattachment2" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="financialreportcomments2label">Comments : </div>
			<div  class="sameline" id="financialreportcomments2div"><input id="financialreportcomments2" type="text" value="" placeholder="Enter Currency" name="financialreportcomments2" size="15"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="financialreportyear3label">Year : </div>
			<div  class="sameline" id="financialreportyear3div">
				<select id="financialreportyear3">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="financialreportattachment3label">Attachment : </div>
			<div  class="sameline" id="financialreportattachment3div"><input id="financialreportattachment3" type="file" name="financialreportattachment3" size="15"></div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="financialreportcomments3label">Comments : </div>
			<div  class="sameline" id="financialreportcomments3div"><input id="financialreportcomments3" type="text" value="" placeholder="Enter Currency" name="financialreportcomments3" size="15"></div>
		</div>
		</fieldset>
		
		
		<fieldset class="section-wrapper">
		<legend class="section-header">Please advise your company's ranking in the local market in terms of gross premium  </legend>
		<div class="field-row" >
			<div  class="sameline" id="advisecomprankyear1label">Year : </div>
			<div  class="sameline" id="advisecomprankyear1div">
				<select id="advisecomprankyear1">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="advisecompranking1label">Ranking : </div>
			<div  class="sameline" id="advisecompranking1div"><input id="advisecompranking1" type="text" value="" placeholder="Enter Ranking" name="advisecompranking1" size="25"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="currentcombratioyear2label">Year : </div>
			<div  class="sameline" id="currentcombratioyear2div">
				<select id="currentcombratioyear2">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="advisecompranking2label">Ranking : </div>
			<div  class="sameline" id="advisecompranking2div"><input id="advisecompranking2" type="text" value="" placeholder="Enter Ranking" name="advisecompranking2" size="25"></div>
		</div>
		<div class="field-row" >
			<div  class="sameline" id="advisecomprankyear3label">Year : </div>
			<div  class="sameline" id="advisecomprankyear3div">
				<select id="advisecomprankyear3">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>&nbsp;&nbsp;&nbsp;
			<div  class="sameline" id="advisecompranking3label">Ranking : </div>
			<div  class="sameline" id="advisecompranking3div"><input id="advisecompranking3" type="text" value="" placeholder="Enter Ranking" name="advisecompranking3" size="25"></div>
		</div>
		
		<div class="field-row" >
			<div  class="sameline" id="otherbrokerslabel">Do you work with Alpha Brokers, such as Marsh, Willis, and Aon?   Y or N or Other : </div>
			<div  class="sameline" id="otherbrokersdiv"><input id="otherbrokers" type="text" value=""  name="otherbrokers" size="20"></div>
		</div>
		
		<h3>Please list the class of business that you like to write   (check boxes) : </h3>
		<input type="checkbox" name="businesstowrite" value="Marine">Marine<br>
		<input type="checkbox" name="businesstowrite" value="Property">Property<br>
		<input type="checkbox" name="businesstowrite" value="GeneralLiability">General Liability <br>
		<input type="checkbox" name="businesstowrite" value="ProfessionalLiability">Professional Liability <br>
		<input type="checkbox" name="businesstowrite" value="PackageAndPolicy">Package and Policy <br>
		<input type="checkbox" name="businesstowrite" value="AccidentAndHealth">Accident and Health<br>
		<input type="checkbox" name="businesstowrite" value="OtherCoverages">Other Coverages  

		<h3>Please list the class of business that you do not write ( check boxes) : </h3>
		<input type="checkbox" name="businessnottowrite" value="Marine">Marine<br>
		<input type="checkbox" name="businessnottowrite" value="Property">Property<br>
		<input type="checkbox" name="businessnottowrite" value="GeneralLiability">General Liability <br>
		<input type="checkbox" name="businessnottowrite" value="ProfessionalLiability">Professional Liability <br>
		<input type="checkbox" name="businessnottowrite" value="PackageAndPolicy">Package and Policy <br>
		<input type="checkbox" name="businessnottowrite" value="AccidentAndHealth">Accident and Health<br>
		<input type="checkbox" name="businessnottowrite" value="OtherCoverages">Other Coverages  		
	
	
		<div >
			<div  class="sameline" id="lobcommentslabel">Undesired LoB Comments : </div>
			<div  class="sameline" id="lobcommentsdiv"><input id="lobcomments" type="text" value=""  name="lobcomments" size="20"></div>
		</div>
		</fieldset>
	</div>
</div>

