<div id="organizationdetails" class="section">
    <fieldset class="section-wrapper">
        <legend class="section-header">Organization Details  </legend>
<br>
<div id="organizationdetails_container" class="section-content">
	<div class="field-row" >
		<div  class="sameline">Organization Name : </div>
		<div  class="sameline" id="orgnamediv"><input id="orgname" type="text" value="" placeholder="Enter Organization Name" name="orgname" size="50"></div>
	</div>
	<div >
		<div  class="sameline">Country : </div>
		<div  class="sameline" id="countrydiv"><input id="country" type="text" value="" placeholder="Enter Country Name" name="country" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline">Address : </div>
		<div  class="sameline" id="addressdiv"><textarea rows="3" cols="50" id="address" value="" placeholder="Enter Address" name="address" size="50"></textarea></div>
	</div>
	<div class="field-row" >
		<div  class="sameline">City : </div>
		<div  class="sameline" id="citydiv"><input id="city" type="text" value="" placeholder="Enter City Name" name="city" size="50"></div>
	</div>
	
	<div class="field-row" >
		<div  class="sameline">State : </div>
		<div  class="sameline" id="statediv"><input id="state" type="text" value="" placeholder="Enter State" name="state" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline">Zip Code: </div>
		<div  class="sameline" id="zipcodediv"><input id="zipcode" type="text" value="" placeholder="Enter Zip Code" name="zipcode" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline">Company Website : </div>
		<div  class="sameline" id="websitediv" ><input id="website" type="text" value="" placeholder="Enter Company Website" name="website" size="50"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline">Telephone : </div>
		<div  class="sameline" id="telephonediv1"><input id="telephone1" type="text" value=""  name="telephone1" size="15"></div>
		<div  class="sameline" id="telephonediv2"><input id="telephone2" type="text" value=""  name="telephone2" size="15"></div>
		<div  class="sameline" id="telephonediv3"><input id="telephone3" type="text" value=""  name="telephone3" size="15"></div>
	</div>
	<div class="field-row" >
		<div  class="sameline">General Email Id : </div>
		<div  class="sameline" id="emailiddiv"><input id="emailid" type="text" value="" placeholder="Enter Email Id" name="emailid" size="50"></div>
	</div>
	</div>
        </fieldset>
</div>

