<form method="post" class="" autocomplete="off" action="/secure/saveUser" id="saveUserDetails" enctype="multipart/form-data">
    <div class="">
    <div class="accordian-header">
        <div class="accordian-header-text">
            User Details
        </div>
        <div class="accordian-toggle">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>

    <div class="accordian-body">
     <div class="user-registration-form">
      <div class="form-row">

        <div class="form-column">
            <div class="field-label">First Name</div>
            <div class="field user-icon">
                <input class="stylish user-icon" id="firstName" type="text" value="<%=firstName%>" placeholder="Enter First Name" name="firstName">
            </div>
        </div>
        <div class="form-column">
          <div class="field-label">Last Name</div>
            <div class="field user-icon">
                <input class="stylish" id="lastName" type="text" value="<%=lastName%>" placeholder="Enter Last Name" name="lastName">
            </div>
       </div>
      </div>

     <div class="form-row">
         <div class="form-column">
             <div class="field-label">Email</div>
             <div class="field email-icon">
                 <input class="stylish" id="email" type="text" value="<%=email%>" name="email" placeholder="Enter Email ID">
             </div>
         </div>
         <div class="form-column">
             <div class="field-label">Phone</div>
             <div class="field phone-icon">
                 <input id="phoneCountryCode" class="stylish split-box-small" type="text" value="<%=phoneCountryCode%>" name="phoneCountryCode">
                 <input id="phoneAreaCode" class="stylish split-box-medium" type="text" value="<%=phoneAreaCode%>" name="phoneAreaCode">
                 <input id="phone" class="stylish split-box-big" type="text" value="<%=phone%>" name="phone">
             </div>
         </div>
     </div>

     <div class="form-row">
         <div class="form-column">
             <div class="field-label">Fax</div>
             <div class="field fax-icon">
                 <input id="faxCountryCode" class="stylish split-box-small" type="text" value="<%=faxCountryCode%>" name="faxCountryCode">
                 <input id="faxAreaCode" class="stylish split-box-medium" type="text" value="<%=faxAreaCode%>" name="faxAreaCode">
                 <input id="fax" class="stylish split-box-big" type="text" value="<%=fax%>" name="fax">
             </div>
         </div>
         <div class="form-column">
             <div class="field-label">Mobile</div>
             <div class="field mobile-icon">
                 <input id="mobileCountryCode" class="stylish split-box-small" type="text" value="<%=mobileCountryCode%>" name="mobileCountryCode" >
                 <input id="mobile" name="mobile" class="stylish split-box-big" type="text" value="<%=mobile%>">
             </div>
         </div>
     </div>

      <div class="form-row">
          <div class="form-column">
            <div class="field-label">User Name</div>
            <div class="field user-icon">
                <input class="stylish" id="userName" type="text" value="<%=userName%>" name="userName" placeholder="Enter User Name">
            </div>
            </div>
          <div class="form-column">
             <div class="field-label">Password</div>
            <div class="field password-icon">
                <input class="stylish" id="password" type="password" value="" name="password" placeholder="Enter Password">
            </div>
          </div>
      </div>

        <div class="form-row">
            <div class="form-column">
              <div class="field-label">Role</div>
              <div class="field user-icon">
                  <% if(loggedInUserRole=='ROLE_PM_ADMIN' || loggedInUserRole=='ROLE_PM_USER') {%>
                  <select class="stylish"  name="userType">
                      <option>&#xf0f0; &nbsp; Select Role</option>
                      <option value="5">PM Admin</option>
                      <option value="6">PM User</option>
                  </select>

                  <%} else if(loggedInUserRole=='ROLE_PM_USER') {%>
                  <select class="stylish"  name="userType">
                      <option>&#xf0f0; &nbsp; Select Role</option>
                      <option value="6">PM User</option>
                  </select>
                  <%} else if(loggedInUserRole=='ROLE_GLOBEX_USER') {%>
                  <select class="stylish"  name="userType">
                      <option>&#xf0f0; &nbsp; Select Role</option>
                      <option value="4">Globex User</option>
                      <option value="5">PM Admin</option>
                      <option value="6">PM User</option>
                      <option value="7">LM Admin</option>
                      <option value="8">LM User</option>
                  </select>

                  <%} else if(loggedInUserRole=='ROLE_LM_ADMIN' || loggedInUserRole=='ROLE_LM_USER') {%>
                  <select class="stylish"  name="userType">
                      <option>&#xf0f0; &nbsp; Select Role</option>
                      <option value="7">LM Admin</option>
                      <option value="8">LM User</option>
                  </select>
                  <%} else {%>
                  <select class="stylish"  name="userType">
                      <option>&#xf0f0; &nbsp; Select Role</option>
                      <option value="1">Super Admin</option>
                      <option value="2">Admin</option>
                      <option value="3">Globex Admin</option>
                      <option value="4">Globex User</option>
                      <option value="5">PM Admin</option>
                      <option value="6">PM User</option>
                      <option value="7">LM Admin</option>
                      <option value="8">LM User</option>
                  </select>
                  <%}%>
              </div>
            </div>
            <div class="form-column">
                <div class="field-label">Upload profile picture</div>
                <div class="field upload-icon">
                    <input class="stylish" id="thumbnail" type="file" name="thumbnailFile" size="50">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="button-align-right">
                <input type="submit" class="save-button form-button" value="Save">
                <input type="submit" class="cancel-button form-button" value="Cancel">
            </div>
        </div>

     </div>
    </div>
    <input id="userId" type="hidden" value="<%=id%>" name="id">
        </div>
</form>