<div id="addExposureDetails" class="add-user-button"><span class="add-button"></span> <span class="add-user-text">Add Exposure</span> </div>

<div class="form-container">
    <div class="form-wrapper hidden-form">
        <form method="post" autocomplete="off" action="/secure/submitExposureData" id="exposureForm">
            <div class="file-details-form">
                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Country</div>
                        <div class="field field-select2">
                            <select id="country" name="country" class="form-control dropdown-select2 country-dropdown"></select>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">State</div>
                        <div class="field">
                            <select name="states" id="states">
                                <option value="-1">Select ...</option>
                                <option value="Un Specified">Un Specified</option>
                                <option value="Alaska">Alaska</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Exposure</div>
                        <div class="field">
                            <input type="text" name="exposure" maxlength="12" value="" id="exposure" style="width: 100px">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">Rate</div>
                        <div class="field">
                            <input type="text" name="rate" maxlength="18" value="" id="rate" style="width: 100px">
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="button-align-right">
                        <input type="submit" class="save-button form-button" value="Save">
                        <input type="submit" class="cancel-button form-button" value="Cancel">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="">
        <table class="table-container" id="table-container">
            <thead>
                <tr class="header-row"> <th class="header-column">Country<div class="header-column-sort"></div></th>
                    <th class="header-column">State<div class="header-column-sort"></div></th>
                    <th class="header-column">Exposure<div class="header-column-sort"></div></th>
                    <th class="header-column">Rate<div class="header-column-sort"></div></th>
                </tr>
            </thead>
            <tbody id="exposureList">

            </tbody>
        </table>
    </div>
</div>