<div class="tab-wrapper">

  <div class="tab-header-wrapper">
    <div class="tab-list">
        <div class="tab"><span class="tab-header-text">Current Applications</span></div>
    </div>

    <div class="">
        <div id="createPMApplication" class="add-user-button">
            <span class="add-button"></span> <span class="add-user-text">Create Application </span>
        </div>
    </div>
  </div>

  <div class="tab-container">


      <div class="pm-app-container">
        <div class="pm-app-list">
            <div class="pm-app-item-wrapper">

                <% var files = filesData; %>
                <%_.each(files ,function(file,index) {%>
                    <div class="pm-app-item">

                    <div class="pm-app-prof-icon message-sender-img pic-standard-small">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" title="Charles" alt="">
                    </div>
                    <div class="pm-app-item-section">
                        <div class="pm-app-post">
                            <span class=""><%= file.senderName %></span>
                            <span class="app-post-msg">submitted an Application</span>
                        </div>

                        <div class="pm-app-file" title="View File">
                            <span class="pm-app-item-file"></span>
                            <span class=""><%= file.fileId %></span>
                        </div>

                        <div class="pm-post-view-card">
                            <span class="">Actions:
                             <span>
                                <span class="">
                                    <span class="pm-post-view-link" title="View File">View File</span>
                                    <span class="pm-post-view-link" title="View File"> | Comment</span>
                                </span>
                              </span>
                            </span>
                        </div>

                        <div class="pm-app-post-detail">
                            <span class="pm-details"><span class="pm-post-highlight-text">PM:</span><%= file.orgName %></span>
                            <span class="pm-account-details"><span class="pm-post-highlight-text">Insured:</span><%= file.insuredCompany %></span>
                            <span class="pm-post-share"><span class="pm-post-share-text">Share</span></span>
                        </div>
                    </div>

                    <div class="pm-app-item-side">
                        <div class="">
                            <div class="pm-app-side-item">
                                <span class="pm-app-status-text">Status : </span><span class="pm-app-status">New</span>
                            </div>
                            <div class="pm-app-side-item">
                                <span class="pm-app-status-text">Date : </span><span class="pm-app-status"><%= file.dateCreated %></span>
                            </div>
                        </div>

                    </div>
                </div>

                <%})%>



            </div>
        </div>
      </div>
  </div>

</div>