<div class="repeatable-wrapper pm-bank">
    <div class="">
        <div class="repeatable-section-seperator">
            <div class="section-seperator-icon">X</div>
        </div>
        <div class="minus-circle delete-section"></div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Bank Name</div>
            <div class="field pencil-icon">
                <textarea class="stylish" placeholder=" Enter Bank Name" name="bankName"></textarea>
            </div>
        </div>
        <div class="form-column">
            <div class="field-label">Bank Address</div>
            <div class="field pencil-icon">
                <textarea class="stylish" placeholder=" Enter Bank Address" name="bankAddress"></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Account Name</div>
            <div class="field pencil-icon">
                <textarea class="stylish" placeholder=" Enter Account Name" name="accountName"></textarea>
            </div>
        </div>


        <div class="form-column">
            <div class="field-label">Account Number</div>
            <div class="field pencil-icon">
                <textarea class="stylish" name="accountNo"></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">IBAN Number</div>
            <div class="field pencil-icon">
                <textarea class="stylish" name="iban"></textarea>
            </div>
        </div>

        <div class="form-column">
            <div class="field-label">Swift Code</div>
            <div class="field pencil-icon">
                <textarea class="stylish" placeholder="Swift Code" name="swiftCode"></textarea>
            </div>
        </div>
    </div>

</div>