<div class="fieldset-wrapper pm-bank">
    <fieldset class="fieldset">
        <legend class="legend">Banking Information</legend>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Accounting Contact</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">First Name</div>
                <div class="field user-icon">
                    <input class="stylish" type="text" placeholder="Enter First Name" name="contactFirstName">
                </div>
            </div>
            <div class="form-column">
                <div class="field-label">Last Name</div>
                <div class="field user-icon">
                    <input class="stylish" type="text" placeholder="Enter Last Name" name="contactLastName">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Email</div>
                <div class="field email-icon">
                    <input class="stylish" type="text" name="contactEmail" placeholder="Enter Email ID">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Phone</div>
                <div class="field phone-icon">
                    <input class="stylish split-box-small" type="text" name="contactPhoneCountryCode">
                    <input class="stylish split-box-medium" type="text" name="contactPhoneAreaCode">
                    <input class="stylish split-box-big" type="text" name="contactPhone">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Fax</div>
                <div class="field fax-icon">
                    <input class="stylish split-box-small" type="text" name="contactFaxCountryCode">
                    <input class="stylish split-box-medium" type="text" name="contactFaxAreaCode">
                    <input class="stylish split-box-big" type="text" name="contactFax">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Mobile</div>
                <div class="field mobile-icon">
                    <input class="stylish split-box-small" type="text" name="contactMobileCountryCode" >
                    <input name="contactMobile" class="stylish split-box-big" type="text">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Banking Info</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Bank Details</div>
                <div class="field pencil-icon">
                    <textarea class="stylish" name="bankInfo"></textarea>
                </div>
            </div>
            <div class="form-column">
                <div class="field-label">Other Details</div>
                <div class="field pencil-icon">
                    <textarea class="stylish" name="otherInfo"></textarea>
                </div>
            </div>
        </div>

    </fieldset>
</div>