<div class="repeatable-wrapper">
    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Country Name</div>
            <div class="field country-icon">
                <input class="stylish" type="text" name="countryName">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Registration Number</div>
            <div class="field pencil-icon">
                <input class="stylish" type="text" name="registrationNumber">
            </div>
        </div>
        <div class="form-column">
            <div class="field-label">Date of Registration</div>
            <div class="field pencil-icon">
                <input class="stylish" type="text" name="registrationDate">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Attachements</div>
            <div class="field upload-icon">
                <input class="stylish" id="thumbnail" type="file" name="regAttachments" size="50">
            </div>
        </div>
    </div>
</div>