<div class="repeatable-wrapper coverage-contact">
    <div class="">
        <div class="repeatable-section-seperator">
            <div class="section-seperator-icon">X</div>
        </div>
        <div class="minus-circle delete-section"></div>
    </div>
    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Department</div>
            <div class="field">
                <select id="contactDepartment" name="contactDepartment" class="form-control">
                    <option value="marine">marine</option>
                    <option value="property">property</option>
                    <option value="healthAndBenefits">healthAndBenefits</option>
                    <option value="liabilities">liabilities</option>
                    <option value="directorsAndOfficers">directorsAndOfficers</option>
                    <option value="aviation">aviation</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Name of the Contact Person</div>
            <div class="field pencil-icon">
                <input class="stylish" type="text" name="contactPersonName">
            </div>
        </div>
        <div class="form-column">
            <div class="field-label">Phone Number</div>
            <div class="field pencil-icon">
                <input class="stylish" type="text" name="contactPhoneNumber">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <div class="field-label">Email</div>
            <div class="field pencil-icon">
                <input class="stylish" type="text" name="contactEmail">
            </div>
        </div>
        <div class="form-column">
            <div class="field-label">Position(Role)</div>
            <div class="field pencil-icon">
                <input class="stylish" type="text" name="contactPosition">
            </div>
        </div>
    </div>
</div>