<form method="post" autocomplete="off" action="/secure/savePM" id="savePMDetails" enctype="multipart/form-data">

    <div class="accordian-header">
        <div class="accordian-header-text">
            Partner Market Details
        </div>
        <div class="accordian-toggle">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>

    <div class="accordian-body">
        <div class="form-wrapper">
            <div class="container">

                <!-- Organization Details-->
                <div id="organizationSection">
                    <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                        <legend class="legend">Enter Details</legend>
                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Organization Name</div>
                                <div class="field company-icon">
                                    <input class="stylish" type="text" name="orgName" placeholder="Enter Organization Name"  >
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Address Line 1</div>
                                <div class="field pencil-icon">
                                    <input class="stylish" type="text" name="address1" placeholder="Enter Address Line 1"  >
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="field-label">Address Line 2</div>
                                <div class="field company-icon">
                                    <input class="stylish" type="text" name="address2" placeholder="Enter Address Line 2" >
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Country</div>
                                <div class="field pencil-icon">
                                    <select name="country" class="stylish country-dropdown" placeholder="Enter Country Name" ></select>
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="field-label">State</div>
                                <div class="field company-icon">
                                    <input class="stylish" type="text" name="state" placeholder="Enter State Name"  >
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">City</div>
                                <div class="field company-icon">
                                    <input class="stylish" type="text" name="city" placeholder="Enter City Name"  >
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="field-label"> Zip Code</div>
                                <div class="field pencil-icon">
                                    <input class="stylish" type="text" name="zip" placeholder="Enter Zip Code"  >
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Website</div>
                                <div class="field company-icon">
                                    <input class="stylish" type="text" name="website" placeholder="Enter Website Address"  >
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="approved" value="0">
                    </fieldset>
                </div>
                </div>

                <!-- Contact Details-->
                <div id="contactSection">
                  <div class="btn-layout addOptions">
                    <div class="btn-wrapper">
                        <div id="addContact" class="add-user-button"><span class="add-button"></span> <span class="add-country-text" >Add Contact </span></div>
                    </div>
                  </div>
                  <div id="contactDetails">
                    <div class="fieldset-wrapper pm-contact">
                    <fieldset class="fieldset">
                        <legend class="legend"> Primary Contact Person - Administrator </legend>
                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">First Name</div>
                                <div class="field user-icon">
                                    <input class="stylish" type="text" placeholder="Enter First Name" name="firstName">
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="field-label">Last Name</div>
                                <div class="field user-icon">
                                    <input class="stylish" type="text" placeholder="Enter Last Name" name="lastName">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">User Name</div>
                                <div class="field user-icon">
                                    <input class="stylish" type="text" name="userName" placeholder="Enter User Name">
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="field-label">Email</div>
                                <div class="field email-icon">
                                    <input class="stylish" type="text" name="email" placeholder="Enter Email ID">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Password</div>
                                <div class="field password-icon">
                                    <input class="stylish" type="password" value="" name="password" placeholder="Enter Password">
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="field-label">Confirm Password</div>
                                <div class="field password-icon">
                                    <input class="stylish" type="password" value="" name="confirmPassword" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Phone</div>
                                <div class="field phone-icon">
                                    <input class="stylish split-box-small" type="text" name="phoneCountryCode">
                                    <input class="stylish split-box-medium" type="text" name="phoneAreaCode">
                                    <input class="stylish split-box-big" type="text" name="phone">
                                </div>
                            </div>

                            <div class="form-column">
                                <div class="field-label">Fax</div>
                                <div class="field fax-icon">
                                    <input class="stylish split-box-small" type="text" name="faxCountryCode">
                                    <input class="stylish split-box-medium" type="text" name="faxAreaCode">
                                    <input class="stylish split-box-big" type="text" name="fax">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-column">
                            <div class="field-label">Mobile</div>
                                <div class="field mobile-icon">
                                    <input class="stylish split-box-small" type="text" name="mobileCountryCode" >
                                    <input name="mobile" class="stylish split-box-big" type="text" >
                                </div> </div>

                            <div class="form-column">
                                <div class="field-label">Comments</div>
                                <div class="field pencil-icon">
                                    <textarea class="stylish" name="comments"></textarea>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="userType" value="3">
                    </fieldset>
                </div>
                  </div>
                </div>

                <!-- Banking Details-->
                <div id="bankSection">
                    <div class="btn-layout addOptions">
                        <div class="btn-wrapper">
                            <div id="addBankDetails" class="add-user-button"><span class="add-button"></span> <span class="add-country-text" >Add Bank Details </span></div>
                        </div>
                    </div>
                    <div id="bankDetails">
                        <div class="fieldset-wrapper pm-bank">
                        <fieldset class="fieldset">
                            <legend class="legend">Banking Information</legend>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Accounting Contact</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">First Name</div>
                                    <div class="field user-icon">
                                        <input class="stylish" type="text" placeholder="Enter First Name" name="contactFirstName">
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="field-label">Last Name</div>
                                    <div class="field user-icon">
                                        <input class="stylish" type="text" placeholder="Enter Last Name" name="contactLastName">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Email</div>
                                    <div class="field email-icon">
                                        <input class="stylish" type="text" name="contactEmail" placeholder="Enter Email ID">
                                    </div>
                                </div>
                               <div class="form-column">
                                    <div class="field-label">Phone</div>
                                    <div class="field phone-icon">
                                        <input class="stylish split-box-small" type="text" name="contactPhoneCountryCode">
                                        <input class="stylish split-box-medium" type="text" name="contactPhoneAreaCode">
                                        <input class="stylish split-box-big" type="text" name="contactPhone">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Fax</div>
                                    <div class="field fax-icon">
                                        <input class="stylish split-box-small" type="text" name="contactFaxCountryCode">
                                        <input class="stylish split-box-medium" type="text" name="contactFaxAreaCode">
                                        <input class="stylish split-box-big" type="text" name="contactFax">
                                    </div>
                                </div>

                                <div class="form-column">
                                    <div class="field-label">Mobile</div>
                                    <div class="field mobile-icon">
                                        <input class="stylish split-box-small" type="text" name="contactMobileCountryCode" >
                                        <input name="contactMobile" class="stylish split-box-big" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Banking Info</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Bank Details</div>
                                    <div class="field pencil-icon">
                                        <textarea class="stylish" placeholder=" Enter Bank Details" name="bankInfo"></textarea>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="field-label">Other Details</div>
                                    <div class="field pencil-icon">
                                        <textarea class="stylish" name="otherInfo"></textarea>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    </div>
                </div>

                <!-- Service Details-->
                <div id="serviceSection">
                    <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                        <legend class="legend">Service Details</legend>

                        <div class="form-row">
                            <div class="form-column">
                                <div class="field-label">Coverages</div>
                                <div class="field">
                                    <input type="checkbox" name="marine" value="true" checked="true"><span >Marine</span>
                                    <input type="checkbox" name="property" value="true" checked="true"><span >Property</span>
                                    <input type="checkbox" name="healthAndBenefits" value="true" checked="true"><span >Health And Benefits</span>
                                    <input type="checkbox" name="liabilities" value="true" checked="true"><span >Liability</span>
                                    <input type="checkbox" name="directorsAndOfficers" value="true" checked="true"><span >Directors And Officers</span>
                                    <input type="checkbox" name="aviation" value="true" checked="true"><span >Aviation</span>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
                </div>

                <!-- Registered countries-->
                <div id="registeredCountriesSection">
                    <div class="fieldset-wrapper">
                        <fieldset class="fieldset">
                            <legend class="legend">Registered countries</legend>

                            <div class="btn-layout addOptions">
                                <div class="btn-wrapper">
                                    <div id="addRegistrationDetails" class="add-user-button"><span class="add-button"></span> <span class="add-country-text" >Add Registration Details </span></div>
                                </div>
                            </div>

                            <div id="registeredCountrySection" class="">
                              <div class="registered-country">
                                <div class="form-row">
                                    <div class="form-column">
                                        <div class="field-label">Country Name</div>
                                        <div class="field country-icon">
                                            <input class="stylish" type="text" name="countryName" placeholder="Enter Country Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-column">
                                        <div class="field-label">Registration Number</div>
                                        <div class="field pencil-icon">
                                            <input class="stylish" type="text" name="registrationNumber" placeholder="Enter Registration Number">
                                        </div>
                                    </div>
                                    <div class="form-column">
                                        <div class="field-label">Date of Registration</div>
                                        <div class="field pencil-icon">
                                            <input class="stylish date-picker" type="text" name="registrationDate" placeholder="Enter Date of Registration">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-column">
                                        <div class="field-label">Attachements</div>
                                        <div class="field upload-icon">
                                            <input class="stylish" id="thumbnail" type="file" name="regAttachments" size="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                        </fieldset>
                    </div>
                </div>

                <!-- Coverage contacts-->
                <div id="coverageContactsSection">
                    <div class="fieldset-wrapper">
                        <fieldset class="fieldset">
                            <legend class="legend">Coverage Contact </legend>

                            <div class="btn-layout addOptions">
                                <div class="btn-wrapper">
                                    <div id="addCoverageContacts" class="add-user-button"><span class="add-button"></span> <span class="add-country-text" >Add Contact </span></div>
                                </div>
                            </div>

                        <div id="coverageCountrySection" class="">
                          <div class="coverage-contact">
                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Department</div>
                                    <div class="field align-justify">
                                        <select id="contactDepartment" name="contactDepartment" class="stylish">
                                            <option value="marine">marine</option>
                                            <option value="property">property</option>
                                            <option value="healthAndBenefits">healthAndBenefits</option>
                                            <option value="liabilities">liabilities</option>
                                            <option value="directorsAndOfficers">directorsAndOfficers</option>
                                            <option value="aviation">aviation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Name of the Contact Person</div>
                                    <div class="field pencil-icon">
                                        <input class="stylish" type="text" name="contactPersonName" placeholder="Enter Name of the Contact Person">
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="field-label">Phone Number</div>
                                    <div class="field pencil-icon">
                                        <input class="stylish" type="text" name="contactPhoneNumber" placeholder="Enter Phone Number">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Email</div>
                                    <div class="field pencil-icon">
                                        <input class="stylish" type="text" name="contactEmil" placeholder="Enter Email Address">
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="field-label">Position(Role)</div>
                                    <div class="field pencil-icon">
                                        <input class="stylish" type="text" name="contactPosition" placeholder="Enter Position(Role)">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </fieldset>
                    </div>
                </div>

                <!-- Branch offices -->
                <div id="branchOfficesSection">
                    <div class="fieldset-wrapper">
                        <fieldset class="fieldset">
                            <legend class="legend">Add More Branches</legend>

                            <div class="btn-layout addOptions">
                                <div class="btn-wrapper">
                                    <div id="addBranchOffices" class="add-user-button"><span class="add-button"></span> <span class="add-country-text" >Add Registration Details </span></div>
                                </div>
                            </div>

                        <div id="branchOfficeSection" class="">
                          <div class="branch-office">
                            <div class="form-row">
                                <div class="form-column">
                                    <div class="field-label">Country</div>
                                    <div class="field pencil-icon">
                                        <input class="stylish" type="text" name="branchCountry" placeholder="Enter Country Name">
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="field-label">Address</div>
                                    <div class="field pencil-icon">
                                        <textarea class="stylish" name="branchAddress" placeholder="Enter Address"></textarea>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                       </fieldset>
                </div>
                </div>

                <div class="form-column" align="right" style="padding: 15px">
                    <div>
                        <input type="submit" class="save-button form-button" value="Save">
                        <input type="submit" class="cancel-button form-button" value="Cancel">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input type="hidden" value="<%=orgId%>" name="orgId">
</form>
