<div class="fieldset-wrapper pm-contact">
    <fieldset class="fieldset">
        <legend class="legend">Partner Contact</legend>
        <div class="form-row">
            <div class="form-column">
                <div class="field-label">First Name</div>
                <div class="field user-icon">
                    <input class="stylish" type="text" placeholder="Enter First Name" name="firstName">
                </div>
            </div>
            <div class="form-column">
                <div class="field-label">Last Name</div>
                <div class="field user-icon">
                    <input class="stylish" type="text" placeholder="Enter Last Name" name="lastName">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">User Name</div>
                <div class="field user-icon">
                    <input class="stylish" type="text" name="userName" placeholder="Enter User Name">
                </div>
            </div>
            <div class="form-column">
                <div class="field-label">Email</div>
                <div class="field email-icon">
                    <input class="stylish" type="text" name="email" placeholder="Enter Email ID">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Password</div>
                <div class="field password-icon">
                    <input class="stylish" type="password" name="password" placeholder="Enter Password">
                </div>
            </div>
            <div class="form-column">
                <div class="field-label">Confirm Password</div>
                <div class="field password-icon">
                    <input class="stylish" type="password" name="confirmPassword" placeholder="Confirm Password">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Phone</div>
                <div class="field phone-icon">
                    <input maxlength="4" class="stylish split-box-small" type="text" name="phoneCountryCode">
                    <input maxlength="4" class="stylish split-box-medium" type="text" name="phoneAreaCode">
                    <input maxlength="10" class="stylish split-box-big" type="text" name="phone">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Fax</div>
                <div class="field fax-icon">
                    <input class="stylish split-box-small" type="text" name="faxCountryCode">
                    <input class="stylish split-box-medium" type="text" name="faxAreaCode">
                    <input class="stylish split-box-big" type="text" name="fax">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <div class="field-label">Mobile</div>
                <div class="field mobile-icon">
                    <input class="stylish split-box-small" type="text" name="mobileCountryCode" >
                    <input name="mobile" class="stylish split-box-big" type="text">
                </div>
            </div>
            <div class="form-column">
                <div class="field-label">Comments</div>
                <div class="field pencil-icon">
                    <textarea class="stylish" name="comments"></textarea>
                </div>
            </div>
        </div>
        <input type="hidden" name="userType" value="4">
    </fieldset>
</div>