<form method="post" autocomplete="off" action="/secure/saveCountry" id="saveCountryDetails" enctype="multipart/form-data">

    <div class="accordian-header">
        <div class="accordian-header-text">
            Country Details
        </div>
        <div class="accordian-toggle">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>

    <div class="accordian-body">
        <div class="form-wrapper">
            <div class="container">

                <div class="form-row">
                  <div class="form-column">
                    <div class="field-label">Country</div>
                    <div class="field country-icon">
                        <input class="stylish" type="text" placeholder="Country Name" name="country" value="<%=country%>">
                    </div>
                  </div>
                  <div class="form-column">
                        <div class="field-label">General Comments for territory :</div>
                        <div class="field pencil-icon">
                            <textarea class="stylish"   placeholder="Enter Territory Comments" name="territoryComments"><%=territoryComments%></textarea>
                        </div>
                  </div>
                </div>

                <div class="fieldset-wrapper">
                    <fieldset class="fieldset" id="taxWrapper">
                        <legend class="legend">Taxes</legend>
                        <div class="field-row">
                            <div class="sameline">
                                <table width="100%">
                                    <tbody id="taxTypeBody">
                                    <tr>
                                        <th>Tax Type</th>
                                        <td>Which LOB</td>
                                        <td>%</td>
                                        <td>Applied To</td>
                                        <td>Amount</td>
                                        <td>Currency</td>
                                        <td>Who is responsible of the tax</td>
                                    </tr>
                                    <% _.each(taxes, function(tax){ %>
                                        <tr class="tax-row">
                                        <td><%=tax.taxType%></td>
                                        <td><div class="field align-justify">
                                             <select class="stylish lob-dropdown selectoption" name="taxLob" value="<%=tax.taxLob%>">
                                                 <option value="-1">Select ...</option>
                                                 <option value="2">Marine</option>
                                                 <option value="3">Property</option>
                                                 <option value="4">General Liability</option>
                                                 <option value="5">Professional Liability</option>
                                                 <option value="6">Package Policy</option>
                                                 <option value="7">Accident and Health</option>
                                                 <option value="8">Other Coverage</option>
                                             </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="field pencil-icon">
                                                <input class="stylish fieldsize" type="text"  placeholder="% rate"  name="taxRate" value="<%=tax.taxRate%>">
                                            </div>
                                        </td>
                                        <td><div class="field align-justify">
                                              <select class="stylish selectoption" name="taxAppliedTo" value="<%=tax.taxAppliedTo%>">
                                                <option value="-1">Select</option>
                                                <option value="Premium">Premium</option>
                                                <option value="Premium + taxes">Premium + taxes</option>
                                                <option value="Premium net of Retention">Premium net of Retention</option>
                                                <option value="Brokerage">Brokerage</option>
                                              </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="field pencil-icon">
                                               <input class="stylish fieldextent" type="text"  placeholder="Amount" name="taxAmount" value="<%=tax.taxAmount%>">

                                            </div>
                                        </td>
                                        <td><div class="field pencil-icon">
                                            <input class="stylish fieldextent" type="text"  placeholder="Enter Currency" name="taxCurrency" value="<%=tax.taxCurrency%>">
                                           <!-- <select class="stylish selectoption" name="taxCurrency" value="<%=tax.taxCurrency%>">
                                                <option value="-1">Select</option>
                                                <option value="USD">USD</option>
                                                <option value="Indian Rupee">Indian Rupee</option>
                                                <option value="Euro">Euro</option>
                                                <option value="Other">other</option>
                                            </select> -->
                                            </div>
                                        </td>
                                        <td><div class="field align-justify">
                                            <select class="stylish selectoption" name="taxResponsiblility" value="<%=tax.taxResponsiblility%>">
                                                <option value="-1">Select</option>
                                                <option value="lob">Reinsurer payable</option>
                                                <option value="lob">Insured payable</option>
                                            </select>
                                            </div>
                                        </td>
                                        <input type="hidden" name="taxType" value="<%=tax.taxType%>">
                                        <input type="hidden" name="taxId" value="<%=tax.taxId%>">
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="field-row">
                            <div class="sameline" >
                                <div id="addTaxType" class="add-user-button add-row">
                                    <span class="add-button"></span>
                                    <span class="add-user-text add-application">Add Another</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

              <!--  <div class="fieldset-wrapper">
                      <fieldset class="fieldset" id="taxRequirements">
                        <legend class="legend">Are there any Tariff, Minimum Premium or Rate requirements in your country? </legend>
                    <div class="field-row">
                        <div class="sameline" >
                            <table width="100%">
                                <tbody id="taxRequirementBody">
                                <tr>
                                    <td>Requirement Name</td>
                                    <td>Which LOB</td>
                                    <td>% rate</td>
                                    <td>Applied To</td>
                                    <td>min. premium </td>
                                    <td>currency</td>
                                    <td>Type of requirement </td>
                                </tr>
                                <% _.each(rateRequirements, function(rateRequirement){ %>
                                    <tr class="taxRequirement">
                                    <td>
                                        <div class="field pencil-icon">
                                            <input class="stylish" type="text"  placeholder="Enter Requirement Name" name="requirementName" value="<%=rateRequirement.requirementName%>">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field align-justify">
                                            <select class="stylish lob-dropdown" name="requirementLob" value="<%=rateRequirement.requirementLob%>">
                                                <option value="-1">Select ...</option>
                                                <option value="2">Marine</option>
                                                <option value="3">Property</option>
                                                <option value="4">General Liability</option>
                                                <option value="5">Professional Liability</option>
                                                <option value="6">Package Policy</option>
                                                <option value="7">Accident and Health</option>
                                                <option value="8">Other Coverage</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field pencil-icon">
                                            <input class="stylish" type="text"  placeholder="Enter % rate" name="requirementRate" size="50" value="<%=rateRequirement.requirementRate%>">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field pencil-icon">
                                            <input class="stylish" type="text"  placeholder="Applied To" name="requirementAppliedTo" size="50" value="<%=rateRequirement.requirementAppliedTo%>">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field pencil-icon">
                                            <input class="stylish" type="text"  placeholder="Enter min. premium" name="requirementMinPremium" size="50" value="<%=rateRequirement.requirementMinPremium%>">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field align-justify">
                                        <select name="requirementCurrency" class="stylish" value="<%=rateRequirement.requirementCurrency%>">
                                            <option value="-1">Select</option>
                                            <option value="sum">Sum Insured</option>
                                            <option value="sum">Fixed Sum</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field align-justify">
                                        <select name="requirementType" class="stylish" value="<%=rateRequirement.requirementType%>">
                                            <option value="-1">Select</option>
                                            <option value="sum">Country Requirement</option>
                                            <option value="sum">Company Requirement</option>
                                        </select>
                                        </div>
                                    </td>
                                        <input type="hidden" name="requirementName" value="<%=rateRequirement.requirementName%>">
                                        <input type="hidden" name="requirementId" value="<%=rateRequirement.requirementId%>">
                                </tr>
                                <% }) %>
                                </tbody></table>
                        </div>
                    </div>

                    <div class="field-row">
                      <div class="sameline" >
                          <div id="addRateRequirement" class="add-user-button add-row">
                              <span class="add-button"></span>
                              <span class="add-user-text add-application">Add Another</span>
                          </div>
                      </div>
                    </div>
                </fieldset>
                </div>  -->
                <div class="fieldset-wrapper">
                    <div class="form-row">
                        <fieldset class="fieldset"  id="taxRequirements">
                            <legend class="legend"> Are there any Tariff, Minimum Premium or Rate requirements in your country? </legend>
                            <div class="field-row" id="taxRequirementBody">
                                <% _.each(rateRequirements, function(rateRequirement){ %>
                             <div class="field-row taxRequirement">
                                  <div class="form-tab-row-cell">
                                        <div class="field-label"> Which LOB</div>
                                        <div class="field align-justify">
                                            <select class="stylish lob-dropdown selectoption" name="requirementLob" value="<%=rateRequirement.requirementLob%>">
                                                <option value="-1">Select ...</option>
                                                <option value="2">Marine</option>
                                                <option value="3">Property</option>
                                                <option value="4">General Liability</option>
                                                <option value="5">Professional Liability</option>
                                                <option value="6">Package Policy</option>
                                                <option value="7">Accident and Health</option>
                                                <option value="8">Other Coverage</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-tab-row-cell">
                                        <div class="field-label"> % rate</div>
                                        <div class="field pencil-icon">
                                            <input class="stylish fieldextent" type="text"  placeholder="Enter % rate" name="requirementRate" size="50" value="<%=rateRequirement.requirementRate%>">
                                        </div>
                                    </div>

                                    <div class="form-tab-row-cell">
                                        <div class="field-label"> Applied To</div>
                                        <div class="field align-justify">
                                           <!-- <input class="stylish fieldextent" type="text"  placeholder="Applied To"
                                           name="requirementAppliedTo" size="50" value="<%=rateRequirement.requirementAppliedTo%>"> -->
                                            <select name="requirementAppliedTo" class="stylish selectoption" value="<%=rateRequirement.requirementAppliedTo%>">
                                                <option value="-1">Select</option>
                                                <option value="sum">Country Requirement</option>
                                                <option value="sum">Company Requirement</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-tab-row-cell">
                                        <div class="field-label"> min. premium</div>
                                        <div class="field pencil-icon">
                                            <input class="stylish fieldextent" type="text"  placeholder="Enter min. premium" name="requirementMinPremium" size="50" value="<%=rateRequirement.requirementMinPremium%>">
                                        </div>	</div>

                                 <div class="form-tab-row-cell">
                                     <div class="field-label">Currency</div>
                                     <div class="field pencil-icon">
                                         <input class="stylish fieldextent" type="text"  placeholder="Applied To"
                                                name="requirementCurrency" size="50" value="<%=rateRequirement.requirementCurrency%>">
                                       <!--  <select name="requirementCurrency" class="stylish selectoption" value="<%=rateRequirement.requirementCurrency%>">
                                             <option value="-1">Select</option>
                                             <option value="sum">Sum Insured</option>
                                             <option value="sum">Fixed Sum</option>
                                         </select>  -->
                                     </div></div>
                                    <div class="form-tab-row-cell">
                                        <div class="field-label"> Requirement Name</div>
                                        <div class="field align-justify">
                                            <select name="requirementType" class="stylish selectoption" value="<%=rateRequirement.requirementType%>">
                                                <option value="-1">Select</option>
                                                <option value="sum">Country Requirement</option>
                                                <option value="sum">Company Requirement</option>
                                            </select>
                                        </div></div>

                                </div>
                                <% }) %>
                            </div>
                        </fieldset>
                    </div>
                </div>
                    </div>
                <div class="fieldset-wrapper">
                    <fieldset class="fieldset" id="clauses">
                        <legend class="legend">Are there any Mandatory Clauses or exclusions</legend>
                        <div class="field-row">
                                <div class="sameline">
                                    <table width="100%;">
                                        <tbody>
                                        <tr>
                                            <td>Name of Clause</td>
                                            <td>LOB
                                                <small>(All or LOB names, more than one)</small></td>
                                            <td>Comments</td>
                                            <td>Please attach the clause wording</td>

                                        </tr>
                                        <% _.each(clauses, function(clause){ %>
                                            <tr class="clause">
                                            <td>
                                                <div class="field pencil-icon">
                                                    <input class="stylish" type="text"  placeholder="Enter Clause Name" name="clauseName" size="30" value="<%=clause.clauseName%>">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="field align-justify">
                                                    <select class="stylish lob-dropdown" name="clauseLob" value="<%=clause.clauseLob%>">
                                                        <option value="-1">Select ...</option>
                                                        <option value="2">Marine</option>
                                                        <option value="3">Property</option>
                                                        <option value="4">General Liability</option>
                                                        <option value="5">Professional Liability</option>
                                                        <option value="6">Package Policy</option>
                                                        <option value="7">Accident and Health</option>
                                                        <option value="8">Other Coverage</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="field pencil-icon">
                                                    <input class="stylish" type="text"  placeholder="Comments" name="clauseComments" size="30" value="<%=clause.clauseComments%>">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="field upload-icon">
                                                    <input name="clauseAttachment" class="stylish" id="clauseAttachment" type="file">
                                                    <% if( clause.clauseAttach ){%>
                                                    <a class="mail-attachment" href="/secure/downloadFile?filePath=<%=clause.clauseAttach%>" title="Attachment"></a>
                                                    <%}%>
                                                </div>
                                            </td>
                                            <input type="hidden" name="clauseId" value="<%=clause.clauseId%>">
                                        </tr>
                                        <% }) %>
                                        </tbody></table>
                                </div>
                            </div>
                    </fieldset>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Should Local currency be reflected on local policy</div>
                        <div class="field pencil-icon">
                            <select class="stylish selectbox" name="locCurOnLocPol" value="<%=locCurOnLocPol%>">
                                <option value="-1">---select---</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">Comments</div>
                        <div class="field pencil-icon">
                            <textarea name="locCurOnLocPolComments" class="stylish"  placeholder="Enter your Comments"> <%=locCurOnLocPolComments%></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Is Foreign law and jurisdiction available on local policy</div>
                        <div class="field pencil-icon">
                            <select class="stylish selectbox" name="foreignLawOnLocalPolicy" value="<%=foreignLawOnLocalPolicy%>">
                                <option value="-1">---select---</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">Comments</div>
                        <div class="field pencil-icon">
                            <textarea name="foreignLawOnLocalPolicyComments" class="stylish"  placeholder="Enter your Comments"> <%=foreignLawOnLocalPolicyComments%></textarea>
                        </div>
                    </div>
                </div>

                <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                        <legend class="legend">Is Using a Manuscript wording acceptable?</legend>
                        <div class="field-row">
                            <div class="form-column">
                                <div class="field-label">Acceptable</div>
                                <div class="field align-justify">
                                    <select name="useManuScript" class="stylish" value="<%=useManuScript%>">
                                        <option value="-1">Acceptable</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                            <div class="form-column">
                                <div class="field-label">Comments</div>
                                <div class="field pencil-icon">
                                    <textarea name="manuScriptComments" class="stylish"  placeholder="Enter your Comments"><%=manuScriptComments%></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="field-row">
                            <div class="form-column">
                                <div class="field-label">LOB</div>
                                <div class="field align-justify">
                                    <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="manuScriptLOB" value="<%=manuScriptLOB%>">
                                        <option value="-1">Select ...</option>
                                        <option value="2">Marine</option>
                                        <option value="3">Property</option>
                                        <option value="4">General Liability</option>
                                        <option value="5">Professional Liability</option>
                                        <option value="6">Package Policy</option>
                                        <option value="7">Accident and Health</option>
                                        <option value="8">Other Coverage</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                            <legend class="legend">Can you issue policies and cede the risk to foreign insurers/reinsurers
                                with their facultative reinsurance support?</legend>
                        <div class="field-row">
                            <div class="form-column">
                                <div class="field-label">Issue Policies</div>
                                <div class="field align-justify">
                                    <select name="reInsuranceSupport" class="stylish" value="<%=reInsuranceSupport%>">
                                        <option value="-1">Issue Policies</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>

                            <div class="form-column">
                                <div class="field-label">Comments</div>
                                <div class="field pencil-icon">
                                    <textarea name="reInsuranceSupportComments" class="stylish"  placeholder="Enter your Comments">
                                        <%=reInsuranceSupportComments%>
                                    </textarea>
                                </div>
                            </div>

                        </div>

                        <div class="field-row">
                            <div class="form-column">
                                <div class="field-label">LOB</div>
                                <div class="field align-justify">
                                    <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="reInsuranceSupportLOB" value="<%=reInsuranceSupportLOB%>">
                                        <option value="-1">Select ...</option>
                                        <option value="2">Marine</option>
                                        <option value="3">Property</option>
                                        <option value="4">General Liability</option>
                                        <option value="5">Professional Liability</option>
                                        <option value="6">Package Policy</option>
                                        <option value="7">Accident and Health</option>
                                        <option value="8">Other Coverage</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        </fieldset>
                </div>

            <div class="fieldset-wrapper">
                <fieldset class="fieldset">
                    <legend class="legend">Does the foreign Reinsurer have to be registered with the Regulator in your country?</legend>
                    <div class="field-row">
                        <div class="form-column">
                            <div class="field-label">Issue Policies</div>
                            <div class="field align-justify">
                                <select name="foreignReinsurerRegistered" class="stylish" value="<%=reInsuranceSupport%>">
                                    <option value="-1">Issue Policies</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>  OR</div>

                        <div class="form-column">
                            <div class="field-label">Comments</div>
                            <div class="field pencil-icon">
                                <textarea name="foreignReinsurerRegisteredComments" class="stylish"  placeholder="Enter your Comments"><%=foreignReinsurerRegisteredComments%></textarea>
                            </div>
                        </div>

                    </div>

                    <!--  <div class="form-column">
                                          <div class="field-label">Does the foreign Reinsurer have to be registered with the Regulator in your country?</div>
                                          <div class="field align-justify">
                                              <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="reInsuranceSupportLOB" value="<%=reInsuranceSupportLOB%>">
                                                  <option value="-1">Select ...</option>
                                                  <option value="yes">Yes</option>
                                                  <option value="no">No</option>

                                              </select>
                                          </div>
                                             <input type="radio" name="foreignReinsurerRegistered" value="1" checked="">Yes
                                              <input type="radio" name="foreignReinsurerRegistered" value="0"> No
                                              or
                                              <div class="field pencil-icon">
                                                  <textarea name="foreignReinsurerRegisteredComments" class="stylish"  placeholder="Enter your Comments"><%=foreignReinsurerRegisteredComments%></textarea>
                                              </div>
                                          </div>-->
                </fieldset>
            </div>
                <div class="form-row">
                   <div class="form-column">
                        <div class="field-label">If so, please advise what needs to be done to get registered</div>
                        <div class="field pencil-icon">
                            <textarea name="foreignReinsurerRegisteredAdvice" class="stylish"  placeholder="Enter your Advice"><%=foreignReinsurerRegisteredAdvice%></textarea>
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">What specific information/documents do you require from the insured for
                            policy issuance? For example, local insured registration documents, Know Your Client forms, Proposal Forms, etc.</div>
                        <div class="field pencil-icon">
                            <textarea name="infoReqdForPolicyInsurance" class="stylish"  placeholder="ex : local insured registration documents, Proposal Forms">
                                <%=infoReqdForPolicyInsurance%>
                            </textarea>
                        </div>

                    </div>
                    </div>
            <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">
                            Can the premium be collected overseas and remitted to your company, or do you have to collect the premium in your country?
                        </div>
                        <div class="field">
                            <input type="radio" name="premiumCollectionType" value="1"> Only Local Collection Allowed
                            <input type="radio" name="premiumCollectionType" value="2"> Receiving Premium from Overseas is possible
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">Attachments for question above :</div>
                        <div class="field pencil-icon">
                            <input class="stylish" type="file" name="insuRequiredDocFile" size="50">
                            <% if( insuRequiredDoc ){%>
                            <a class="mail-attachment" href="/secure/downloadFile?filePath=<%=insuRequiredDoc%>" title="Attachment"></a>
                            <%}%>
                        </div>
                    </div>
                </div>

            <div class="fieldset-wrapper">
                <fieldset class="fieldset">
                    <legend class="legend">Mandatory Reinsurace Cession</legend>
                    <div class="field-row">
                       <div class="form-column">
                            <div class="field-label">Acceptable</div>
                            <div class="field align-justify">
                                <select name="mandatoryReInsuranceCession" class="stylish" value="">
                                    <option value="-1">Acceptable</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div></div>
                        <div class="form-column">
                            <div class="field-label">Comments</div>
                            <div class="field pencil-icon">
                                <textarea name="mandatoryReInsuranceComments" class="stylish"  placeholder="Enter your Comments"><%=manuScriptComments%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="field-row">
                        <div class="form-column">
                            <div class="field-label">LOB</div>
                            <div class="field align-justify">
                                <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="manuScriptLOB" value="<%=manuScriptLOB%>">
                                    <option value="-1">Select ...</option>
                                    <option value="2">Marine</option>
                                    <option value="3">Property</option>
                                    <option value="4">General Liability</option>
                                    <option value="5">Professional Liability</option>
                                    <option value="6">Package Policy</option>
                                    <option value="7">Accident and Health</option>
                                    <option value="8">Other Coverage</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="fieldset-wrapper">
                <fieldset class="fieldset">
                    <legend class="legend">Non-Admitted Policy Allowed</legend>
                    <div class="field-row">
                        <div class="form-column">
                            <div class="field-label">Acceptable</div>
                            <div class="field align-justify">
                                <select name="nonAdmittedAllowed" class="stylish" value="">
                                    <option value="-1">Acceptable</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div></div>
                        <div class="form-column">
                            <div class="field-label">Comments</div>
                            <div class="field pencil-icon">
                                <textarea name="nonAdmittedComments" class="stylish"  placeholder="Enter your Comments"><%=nonAdmittedComments%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="field-row">
                        <div class="form-column">
                            <div class="field-label">LOB</div>
                            <div class="field align-justify">
                                <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="manuScriptLOB" value="<%=manuScriptLOB%>">
                                    <option value="-1">Select ...</option>
                                    <option value="2">Marine</option>
                                    <option value="3">Property</option>
                                    <option value="4">General Liability</option>
                                    <option value="5">Professional Liability</option>
                                    <option value="6">Package Policy</option>
                                    <option value="7">Accident and Health</option>
                                    <option value="8">Other Coverage</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!--  <div class="form-row">
                      <div class="form-column">
                          <div class="field-label">Mandatory Reinsurace Cession</div>
                          <div class="field">
                              <input type="radio" name="mandatoryReInsuranceCession" value="1">Yes
                              <input type="radio" name="mandatoryReInsuranceCession" value="0">No
                              or
                              <div class="field pencil-icon">
                                  <textarea name="mandatoryReInsuranceComments" class="stylish" placeholder="Enter your Comments">
                                      <%=mandatoryReInsuranceComments%>
                                  </textarea>
                              </div>
                          </div>
                      </div>


                    <div class="form-column">
                          <div class="field-label">Non-Admitted Policy Allowed</div>
                        <div class="field">
                            <input type="radio" name="nonAdmittedAllowed" value="1">Yes
                            <input type="radio" name="nonAdmittedAllowed" value="0">No
                            <div class="field pencil-icon">
                                <textarea name="nonAdmittedComments" class="stylish"  placeholder="Enter your Comments"><%=nonAdmittedComments%></textarea>
                            </div>
                        </div>
                    </div>  -->
            <div class="form-row">
                   <div class="form-column">
                        <div class="field-label">Tacit Renewal :</div>
                        <div class="field">
                            <input type="radio" name="tacitRenewal" value="1">Yes
                            <input type="radio" name="tacitRenewal" value="0">No
                            or
                            <div class="field pencil-icon">
                                <textarea name="tacitRenewalReasons" class="stylish"  placeholder="Enter your Comments"><%=tacitRenewalReasons%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">Tacit Renewal Comments :</div>
                        <div class="field pencil-icon">
                            <textarea name="tacticalRenewalComments" class="stylish"  placeholder="Enter your Comments"><%=tacticalRenewalComments%></textarea>
                        </div>
                    </div>
                </div>
            <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Cash Before Cover requirement</div>
                        <div class="field">
                            <input type="radio" name="cashBeforeCoverReq" value="1">Yes
                            <input type="radio" name="cashBeforeCoverReq" value="0">No
                            or
                            <div class="field pencil-icon">
                                <textarea name="cashBeforeCoverReqComments" class="stylish"  placeholder="Enter your Comments"><%=cashBeforeCoverReqComments%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">Local currency requirement </div>
                        <div class="field">
                            <input type="radio" name="localCurrencyReq" value="1">Yes
                            <input type="radio" name="localCurrencyReq" value="0">No
                            or
                            <div class="field pencil-icon">
                                <textarea name="localCurrencyReqComments" class="stylish"  placeholder="Enter your Comments"><%=localCurrencyReqComments%></textarea>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">State reinsurer involvement in placements required? :</div>
                        <div class="field">
                            <input type="radio" name="stateReinsurerReq" value="1">Yes
                            <input type="radio" name="stateReinsurerReq" value="0"> No
                            <div class="field-row field-column">or</div>
                            <div class="field pencil-icon">
                                <textarea class="stylish" name="stateReinsurerReqComments"  placeholder="Enter your Comments"><%=stateReinsurerReqComments%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">LOB</div>
                        <div class="field align-justify">
                            <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="stateReinsurerReqLOB" value="<%=stateReinsurerReqLOB%>">
                                <option value="-1">Select ...</option>
                                <option value="2">Marine</option>
                                <option value="3">Property</option>
                                <option value="4">General Liability</option>
                                <option value="5">Professional Liability</option>
                                <option value="6">Package Policy</option>
                                <option value="7">Accident and Health</option>
                                <option value="8">Other Coverage</option>
                            </select>
                        </div>
                    </div>
                </div> -->
            <div class="fieldset-wrapper">
                <fieldset class="fieldset">
                    <legend class="legend">State reinsurer involvement in placements required?</legend>
                    <div class="field-row">
                        <div class="form-column">
                            <div class="field-label">Acceptable</div>
                            <div class="field align-justify">
                                <select name="stateReinsurerReq" class="stylish" value="">
                                    <option value="-1">Acceptable</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div></div>
                        <div class="form-column">
                            <div class="field-label">Comments</div>
                            <div class="field pencil-icon">
                                <textarea class="stylish" name="stateReinsurerReqComments"  placeholder="Enter your Comments"><%=stateReinsurerReqComments%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="field-row">
                        <div class="form-column">
                            <div class="field-label">LOB</div>
                            <div class="field align-justify">
                                <select class="stylish lob-dropdown" placeholder="All or LOB names, more than one" name="manuScriptLOB" value="<%=manuScriptLOB%>">
                                    <option value="-1">Select ...</option>
                                    <option value="2">Marine</option>
                                    <option value="3">Property</option>
                                    <option value="4">General Liability</option>
                                    <option value="5">Professional Liability</option>
                                    <option value="6">Package Policy</option>
                                    <option value="7">Accident and Health</option>
                                    <option value="8">Other Coverage</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Accounting or Other Requirements :</div>
                        <div class="field pencil-icon">
                            <textarea name="otherRequirements" class="stylish"  placeholder="Enter your Comments"><%=otherRequirements%></textarea>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">General comments :</div>
                        <div class="field pencil-icon">
                            <textarea name="generalComments" class="stylish"  placeholder="Enter your Comments"><%=generalComments%></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">General Attachments:</div>
                        <div class="field upload-icon">
                            <input class="stylish" type="file" name="generalAttachmentFile">
                            <% if( generalAttachment ){%>
                                <a class="mail-attachment" href="/secure/downloadFile?filePath=<%=generalAttachment%>" title="Attachment"></a>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-column" align="right" style="padding: 15px">
                <div>
                    <input type="submit" class="save-button form-button" value="Save">
                    <input type="submit" class="cancel-button form-button" value="Cancel">
                </div>
            </div>
          </div>
        </div>
    </div>

    <input id="countryId" type="hidden" value="<%=countryId%>" name="countryId">
</form>