<div class="edit-country-form">
    <form method="post" autocomplete="off" action="/secure/saveCountry" id="saveCountryDetails" enctype="multipart/form-data">

        <div class="">
            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Country</div>
                    <div class="field">
                        <input id="country" type="text" value="<%=country%>" placeholder="Enter Country Name" name="country">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Non-Admitted Allowed</div>
                    <div class="field">
                        <input type="radio" name="nonAdmittedAllowed"  value="true" ><label for="">Yes</label>
                        <input type="radio" name="nonAdmittedAllowed"  checked="checked" value="false" ><label for="">No</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Non-Admitted Comments</div>
                    <div class="field">
                        <textarea name="nonAdmittedComments" cols="" rows=""  id="nonAdmittedComments"><%=nonAdmittedComments%> </textarea>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Retail Broker Required</div>
                    <div class="field">
                        <input type="radio" name="retailBrokerRequired"  value="true" ><label for="">Yes</label>
                        <input type="radio" name="retailBrokerRequired"  checked="checked" value="false" ><label for="">No</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Retail Broker Comments</div>
                    <div class="field">
                        <textarea name="retailBrokerComments" cols="" rows="" id="retailBrokerComments"><%=retailBrokerComments%></textarea>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Mandatory Reinsurance Cession</div>
                    <div class="field">
                        <input type="radio" name="mandatoryReinsuranceCession" value="true" ><label for="">Yes</label>
                        <input type="radio" name="mandatoryReinsuranceCession" checked="checked" value="false"><label for="">No</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Mandatory Reinsurance Comments</div>
                    <div class="field">
                        <textarea name="mandatoryReInsuranceComments" cols="" rows="" id="mandatoryReInsuranceComments"><%= mandatoryReInsuranceComments %></textarea>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Stateside Premium Allowed</div>
                    <div class="field">
                        <input type="radio" name="statesidePremiumAllowed"  value="true" ><label for="">Yes</label>
                        <input type="radio" name="statesidePremiumAllowed"  checked="checked" value="false" ><label for="">No</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Stateside Premium Comments</div>
                    <div class="field">
                        <textarea name="stateSidePremiumComments" cols="" rows=""><%=stateSidePremiumComments%></textarea>
                    </div>
                </div>
            </div>



            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Other Accounting Requirements</div>
                    <div class="field">
                        <textarea name="otherAccRequirements" cols="" rows=""  id="otherAccRequirements"><%=otherAccRequirements%></textarea>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Premium Reserve</div>
                    <div class="field">
                        <textarea name="premiumReserve" cols="" rows=""  id="premiumReserve"><%=premiumReserve%></textarea>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Taxes</div>
                    <div class="field">
                        <textarea name="taxes" cols="" rows=""  id="taxes"><%=taxes%></textarea>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">VAT</div>
                    <div class="field">
                        <textarea name="vat" cols="" rows=""  id="vat"><%=vat%></textarea>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Reinsurance Tax</div>
                    <div class="field">
                        <textarea name="reInsuranceTax" cols="" rows="" id="reInsuranceTax"><%=reInsuranceTax%></textarea>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Other requirements</div>
                    <div class="field">
                        <textarea name="otherRequirements" cols="" rows="" id="otherRequirements"><%=otherRequirements%></textarea>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Tacit Renewal</div>
                    <div class="field">
                        <input type="radio" name="tacitRenewal" value="true" ><label for="">Yes</label>
                        <input type="radio" name="tacitRenewal" checked="checked" value="false" ><label for="">No</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">Tacit Renewal Comments</div>
                    <div class="field">
                        <textarea name="tacticalRenewalComments" cols="" rows="" id="tacticalRenewalComments"><%=tacticalRenewalComments%></textarea>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-column">
                    <div class="field-label">Policy Language</div>
                    <div class="field">
                        <textarea name="policyLanguage" cols="" rows="" id="policyLanguage"><%=policyLanguage%></textarea>
                    </div>
                </div>
                <div class="form-column">
                    <div class="field-label">General Comments</div>
                    <div class="field">
                        <textarea name="generalComments" cols="" rows="" id="generalComments"><%=generalComments%></textarea>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="button-align-right">
                    <input type="submit" class="save-button" value="Save">
                    <input type="submit" class="save-button" value="Cancel">
                </div>
            </div>

        </div>

    </form>
</div>