<form method="post" autocomplete="off" action="/secure/saveCountry" id="saveCountryDetails" enctype="multipart/form-data">

    <div class="accordian-header">
        <div class="accordian-header-text">
            Country Details
        </div>
        <div class="accordian-toggle">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>

    <div class="accordian-body">
        <div class="form-wrapper">
            <div class="container">
                <div class="form-row">
                  <div class="form-column">
                    <div class="field-label">Country</div>
                    <div class="field country-icon">
                        <input class="stylish" type="text" placeholder="Country Name" name="country">
                    </div>
                  </div>
                    <div class="form-column">
                        <div class="field-label">General Comments for territory :</div>
                        <div class="field pencil-icon">
                            <input class="stylish" type="text" placeholder="Enter Territory Comments" name="territoryComments">
                        </div>
                    </div>
                </div>

                <div class="fieldset-wrapper">
                    <fieldset class="fieldset" id="taxWrapper">
                        <legend class="legend">Taxes</legend>
                        <div class="field-row">
                            <div class="sameline">
                                <table width="100%">
                                    <tbody>
                                    <tr>
                                        <th></th>
                                        <td>Which LOB</td>
                                        <td>%</td>
                                        <td>Applied To</td>
                                        <td>Amount</td>
                                        <td>Currency</td>
                                        <td>Who is responsible of the tax</td>
                                    </tr>
                                    <tr class="tax-row">
                                        <td></td>
                                        <td><div class="field align-justify">
                                             <select class="stylish">
                                                <option>Select</option>
                                                <option value="lob">lob</option>
                                                <option value="lob">lob</option>
                                                <option value="lob">lob</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td><div class="field pencil-icon"><input class="stylish" type="text"  placeholder="" name="name">
                                            </div>
                                        </td>
                                        <td><div class="field align-justify">
                                              <select class="stylish">
                                                <option>Select</option>
                                                <option value="lob">Premium</option>
                                                <option value="lob">Premium + taxes</option>
                                                <option value="lob">Premium net of Retention</option>
                                                <option>Brokerage</option>
                                              </select>
                                            </div>
                                        </td>
                                        <td><div class="field pencil-icon"><input class="stylish" type="text"  placeholder="" name="name">
                                            </div>
                                        </td>
                                        <td><div class="field pencil-icon"><input class="stylish" type="text"  placeholder="" name="name">
                                            </div>
                                        </td>
                                        <td><div class="field align-justify">
                                            <select class="stylish" class="">
                                                <option>Select</option>
                                                <option value="lob">Reinsurer payable</option>
                                                <option value="lob">Insured payable</option>
                                            </select>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="field-row">
                            <div class="sameline" >
                                Add a different Tax Type:<br>
                                <small>(A + button for tax types,
                                    will generate another group of fields just like the
                                    above - Name of the tax should be free form example below)</small>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-row">
                    <div class="form-cell">
                        Freeform Tax Name
                    </div>
                    <div class="form-cell">
                        <div class="field pencil-icon">
                            <input class="stylish" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-cell">
                        <div class="field pencil-icon">
                            <input class="stylish" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-cell">
                        <div class="field pencil-icon">
                        <input class="stylish" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-cell">
                        <div class="field pencil-icon">
                        <input class="stylish" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-cell">
                        <div class="field pencil-icon">
                        <input class="stylish" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-cell">
                        <div class="field ">
                            <select class="">
                                <option>Select</option>
                                <option value="lob"></option>
                                <option value="lob"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="fieldset-wrapper">
                      <fieldset class="fieldset" id="taxRequirements">
                        <legend class="legend">Are there any Tariff, Minimum Premium or Rate requirements in your country? </legend>
                    <div class="field-row">
                        <div class="sameline" >
                            <table>
                                <tbody>
                                <tr class="taxRequirement">
                                    <td>Which LOB</td>
                                    <td>% rate</td>
                                    <td>min. premium </td>
                                    <td>currency</td>
                                    <td>Type of requirement </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="field align-justify">
                                            <select class="stylish">
                                                <option>Select</option>
                                                <option value="lob">lob</option>
                                                <option value="lob">lob</option>
                                                <option value="lob">lob</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field pencil-icon">
                                            <input type="text"  placeholder="" name="name" size="50">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field pencil-icon">
                                            <input class="stylish" type="text"  placeholder="" name="name" size="50">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field align-justify">
                                        <select class="stylish">
                                            <option>Select</option>
                                            <option value="sum">Sum Insured</option>
                                            <option value="sum">Fixed Sum</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field align-justify">
                                        <select class="stylish">
                                            <option>Select</option>
                                            <option value="sum">Country Requirement</option>
                                            <option value="sum">Company Requirement</option>
                                        </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>
                    </div>
                    <div class="field-row">
                        <div class="sameline"></div>
                        <div class="sameline" >
                            <input type="checkbox" name="" >Requirement Name

                        </div>
                    </div>

                    <div class="field-row">
                        <div class="sameline"></div>
                        <div class="sameline" >
                            <i class="material-icons">add_box</i>
                            Add a different Minimum Premium or Rate requirement<br>
                            <small>(A + button for Minimum Premium or Rate requirements, will generate
                                another group of fields just like the above - Name of the Minimum Premium
                                or Rate requirements should be free form like the one above)</small>
                        </div>
                    </div>
                </fieldset>
                </div>

                <div class="form-row">
                    <div class="form-cell">
                        <input type="checkbox" name="" >Requirement Name
                    </div>
                    <div class="form-cell">
                        <select class="">
                            <option>Select</option>
                            <option value="lob">lob</option>
                            <option value="lob">lob</option>
                            <option value="lob">lob</option>
                        </select>
                    </div>

                    <div class="form-cell">
                        <input class="stylish" type="text" name="name">
                    </div>
                    <div class="form-cell">
                        <input class="stylish" type="text" name="name">
                    </div>
                    <div class="form-cell">
                        <input class="stylish" type="text" name="name">
                    </div>
                    <div class="form-cell">
                        <input class="stylish" type="text" name="name">
                    </div>
                    <div class="form-cell">
                        <select class="">
                            <option>Select</option>
                            <option value="lob">lob</option>
                            <option value="lob">lob</option>
                            <option value="lob">lob</option>
                        </select>
                    </div>
                </div>

                <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                        <legend class="legend">Are there any Mandatory Clauses or exclusions</legend>
                        <div class="field-row">
                                <div class="sameline">
                                    <table>
                                        <tbody><tr>
                                            <td>Name of Clause</td>
                                            <td>LOB
                                                <small>(All or LOB names, more than one)</small></td>
                                            <td>Comments</td>
                                            <td>Please attach the clause wording</td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="field pencil-icon">
                                                    <input class="stylish" type="text"  placeholder="" name="name" size="30">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="field align-justify">
                                                    <select class="stylish">
                                                        <option>Select</option>
                                                        <option value="lob">lob</option>
                                                        <option value="lob">lob</option>
                                                        <option value="lob">lob</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="field pencil-icon">
                                                    <input class="stylish" type="text"  placeholder="" name="name" size="30">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="field upload-icon">
                                                    <input class="stylish" id="insuRequiredDocAttach" type="file" name="insuRequiredDocAttach" size="50">
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </div>
                            </div>
                    </fieldset>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Should Local currency be reflected on local policy</div>
                        <div class="field pencil-icon">
                            <select class="stylish selectbox" name="locCurOnLocPol">
                                <option>---select---</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">Is Foreign law and jurisdiction available on local policy</div>
                        <div class="field pencil-icon">
                            <select class="stylish selectbox" name="locCurOnLocPolComments">
                                <option>---select---</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                            <legend class="legend">Is Using a Manuscript wording<br> acceptable?</legend>
                            <div class="field-row">
                                <div class="form-column" >
                                    <div class="field-label">LOB</div>
                                    <div class="inner-addon left-addon">
                                        <input  type="text"  placeholder="All or LOB names, more than one"  name="locCurOnLocPolComments">
                                    </div>
                                    <div class="inner-addon left-addon">
                                        <select  class="selectbox"  name="locCurOnLocPolComments">
                                            <option>---Select---</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="form-column" >

                                <div>Comments</div>
                                <div class="inner-addon left-addon">
                                    <input  type="text"  placeholder="comments"  name="locCurOnLocPolComments">
                                </div>
                            </div>
                        </fieldset>
                </div>


                <div class="fieldset-wrapper">
                    <fieldset class="fieldset">
                            <legend class="legend">Can you issue policies and cede the risk to foreign insurers/reinsurers
                                with their facultative reinsurance support?</legend>

                            <div class="field-row">
                                <div class="sameline" >
                                    LOB
                                    <div class="inner-addon left-addon">
                                        <i class="material-icons">format_align_justify</i>
                                        <input  type="text"  placeholder="All or LOB names, more than one"  name="locCurOnLocPolComments">

                                    </div>

                                    <div class="inner-addon left-addon">

                                        <i class="material-icons">list</i>
                                        <select  class="selectbox" name="locCurOnLocPolComments">
                                            <option>---Select---</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div>Comments</div>
                                <div class="inner-addon left-addon">

                                    <i class="material-icons">create</i>
                                    <input  type="text"  placeholder="comments"  name="locCurOnLocPolComments">
                                </div>
                            </div>
                        </fieldset>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Does the foreign Reinsurer have to be registered with the Regulator in your country?</div>
                        <div class="field">
                            <input type="radio" name="nonAdmittedPolicy" value="1" checked=""> Yes <input type="radio" name="nonAdmittedPolicy" value="0"> No
                            or
                            <input id="nonAdmittedPolicyText" type="text" name="nonAdmittedPolicyText" size="20">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">If so, please advise what needs to be done to get registered</div>
                        <div class="field">
                            <input class="stylish" type="text" name="registrationProcedure">
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">What specific information/documents do you require from the insured for
                            policy issuance? For example, local insured registration documents, Know Your Client forms, Proposal Forms, etc.</div>
                        <div class="field pencil-icon">
                            <input class="stylish" type="text" name="insuRequiredDoc" size="20">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">
                            Can the premium be collected overseas and remitted to your company, or do you have to collect the premium in your country?
                        </div>
                        <div class="field pencil-icon">
                            <input type="radio" name="premiumPayOption" value="1" checked=""> Only Local Collection Allowed <input type="radio" name="premiumPayOption" value="2">
                            Receiving Premium from Overseas is possible
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Attachments for question above :</div>
                        <div class="field pencil-icon">
                            <input class="stylish" type="file" name="insuRequiredDocAttach" size="50">
                        </div>
                    </div>
                </div>


                <div class="form-row">
                  <div class="form-column">
                        <div class="field-label">Non-Admitted Policy Allowed</div>
                    <div class="field">
                        <input type="radio" name="nonAdmittedPolicy" value="1" checked=""> Yes <input type="radio" name="nonAdmittedPolicy" value="0"> No
                        <div class="field-row field-column">or</div>
                        <input class="stylish" type="text" name="nonAdmittedPolicyText" size="20">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-column">
                    <div class="field-label">Mandatory Reinsurace Cession</div>
                    <div class="field">
                        <input type="radio" name="nonAdmittedPolicy" value="1" checked=""> Yes <input type="radio" name="nonAdmittedPolicy" value="0"> No
                        <div class="field-row field-column">or</div>
                        <input class="stylish" type="text" name="nonAdmittedPolicyText" placeholder="All or LOB names, more than one">
                    </div>
                  </div>
                  <div class="form-column">
                    <div class="field-label">Tacit Renewal :</div>
                    <div class="field">
                        <input type="radio" name="tacitRenewal" value="1" checked=""> Yes <input type="radio" name="tacitRenewal" value="0"> No
                        <div class="field-row field-column">or</div>
                        <input class="stylish" type="text" name="tacitRenewalText" size="20">
                    </div>
                  </div>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Tacit Renewal Comments :</div>
                        <div class="field">
                           <input class="stylish" type="text" name="tacitRenewalComments" size="20">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">Cash Before Cover requirement</div>
                        <div class="field align-justify">
                            <select class="stylish selectbox">
                                <option>---select---</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Local currency requirement </div>
                        <div class="field">
                            <input type="radio" name="premiumPayOption" value="1" checked="">Yes
                            <input type="radio" name="premiumPayOption" value="2">No
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="field-label">State reinsurer involvement in placements required? :</div>
                        <div class="field">
                            <input type="radio" name="tacitRenewal" value="1" checked=""> Yes <input type="radio" name="tacitRenewal" value="0"> No
                            <div class="field-row field-column">or</div>
                            <input class="stylish" type="text" name="tacitRenewalText" placeholder="All or LOB names, more than one" size="30">
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">Accounting or Other Requirements :</div>
                        <div class="field pencil-icon">
                            <input class="stylish" type="text" name="name">
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="field-label">General comments :</div>
                        <div class="field pencil-icon">
                            <input class="stylish" type="text" name="generalComments">
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-column">
                        <div class="field-label">General Attachments:</div>
                        <div class="field upload-icon">
                            <input class="stylish" type="file" name="generalAttachment" size="50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="countryId" type="hidden" value="<%=id%>" name="id">
</form>
